[2013-08-28 01:31] wycc opened #1 "Implement UI to change the application name after it is created."
Currently, we can only change the name when we create a new application. We should add a editor to change the name after we create it inside the applicaiton page. We can add an edit button after the name to popup a window to change the name of the application.

[2013-08-28 01:33] wycc opened #2 "Update the message in the deploy page of the wuclass desiogner incrementally."
Both build and upload won't show anything before the action is finished. We should put the ant in the background and then let the UI poll the current message so that we can show the message incrementally.

[2013-08-28 01:34] pencilcheck commented on #1
I am looking at several candidates, and this one jumps out of the rest:
http://vitalets.github.io/x-editable/

[2013-08-28 01:34] wycc opened #3 "Verify the function to build custom Java wuclass"

[2013-08-28 01:35] wycc opened #4 "The progress is not displayed in the second deployment."
When we deploy the application for the second time, the messgae is not changed at all.

[2013-08-28 01:35] pencilcheck commented on #2
You could use existing functions that I wrote for handling ajax and periodic polling. Don't need to write another one.

[2013-08-28 01:52] wycc opened #5 "The default property is not generated correctly."
We modify the generationof the JAVA only. We should modify the XML generator as well. Currently, this won;t work.

[2013-08-28 01:55] pencilcheck commented on #5
I thought we fixed that yesterday, what's the problem now? And please elaborate on this issue.

[2013-08-28 02:52] wycc commented on #1
Looks good.

2013/8/28 Penn Su notifications@github.com

[2013-08-28 02:55] wycc commented on #5
I don't know why it works yesterday. It actually fixed in the wrong
function. There are two generateProperties. You only fix the one for
generate Java code. The one for the XML is not changed.

I test by modify the default property. However, the LED is not changed. You
should try it by yourself.

2013/8/28 Penn Su notifications@github.com

[2013-08-29 01:15] wycc opened #6 "Fialed at generating XML file"
The WUXML is (Use Edit too see it)

<application name="c9b87922296af0426eef3799e1a11b07">
<page title="_first_">
    <component type="Loop_delay_short" instanceId="30" x="300" y="139" w="100" h="100">
        <link fromProperty="output" toInstanceId="29" toProperty="port1"/>
        <location requirement="WuKong" />
        <group_size requirement="1" />
        <reaction_time requirement="1" />

[2013-08-29 01:20] wycc commented on #6
This should be related to we remove the empty string checking when we parse the default values. We should put it back.

[2013-08-29 01:41] wycc opened #7 "The wkpf table generator generate the default property table for the first component only. Others are ignored."
Steps
- Add a LED and set the default values. Works as expected.
- Add another loop_defal_boolean. Works as well.
- Set the default value of the loop_delay_bolean. The default property of the LED is not initialized.

[2013-08-29 17:48] wycc opened #8 "A wrong init value may stop the whole system."
In the wkpf_process_initvalues_list, if one of the init value is set to a read-only property, we will drop all other properties. Actually, any error will drop all properties after the property with issue. This will create problems which is very hard to be figured out.

The better solutions is to drop the init value which has problem only.

[2013-08-29 17:53] wycc opened #9 "Don't generate the #ifdef ENABLE_WUCLASS_XXXX for a wuclass"
Currently, we will generate the conditional compilation. However, we need to put the #define manually in the nativewuclasses.h. Therefore, the wuclass will not compiled unless we edit the native_wuclasses.h. I think that we don;t really need the #ifdef here since we have generate the regiter_wuclass in the native_wuclasses.c already. The compiler will include only used modules. The #ifdef will not

[2013-08-30 02:00] wycc opened #10 "Add ID selector in the wuclass designer"
Add a button after the ID field which will help users to select an unused wuclass ID.

[2013-08-30 02:02] wycc opened #11 "Add support for action data type"
We need a datatype which will be propagate every time it is triggered. This is useful for a pure action without the data.

[2013-08-30 02:03] wycc opened #12 "The C and Java selector is broken"
It always select the Java.

[2013-08-30 14:46] wycc opened #13 "Write wuclass tutorial"
Write a tutorial and API reference for authoring a wuclass.

[2013-08-30 14:46] wycc opened #14 "Prepare white paper"

[2013-08-30 14:49] wycc opened #15 "Modify the LED wuclass to support passive mode"
When the refresh_rate is 0, it should use the port1-port4 to decide the state of the LED.

[2013-08-30 20:28] pencilcheck commented on #9
Wait, I don't remember we were generating this in codegen.py, must have been the new code added by Niels or other students. Can you explain a bit more on this issue? I'm not sure if I understand the real issue here.

[2013-08-30 20:29] pencilcheck commented on #7
Ok, I copied generateProperties and overwrite the other one, will test the default values.

[2013-08-30 20:30] pencilcheck commented on #4
I guess that could be fixed by caching the mapping results and discovery results properly and make sure deploy is using those results to deploy.

[2013-08-30 20:32] pencilcheck commented on #3
Should be easily solved by making sure the commands used to compile java files include the path to the custom java wuclasses. I am not sure where they are stored btw.

[2013-08-30 20:50] pencilcheck opened #16 "Redesign our FBP editor with jsPlumb or equivalent"
Our current implementation is far from desired. It would be nice if someone can take up the task and rewrite it using the jsPlumb lib used in the summer intern Patrick's demo.

http://jsplumbtoolkit.com/home/jquery.html

[2013-08-30 20:50] wycc commented on #9
The current code gen never generate this. However, the codegen generate the
usage of it for each wuclass. Therefore, when we add a new wuclass, we need
to add the ENABLE_XXXX here so that it will be included in the compilation.

In my point of view, this MACRO is not required any more since we have
enable_wuclasses.xml already. The compiler will skip the module if it is
not used at all.

2013/8/31

[2013-08-30 20:52] wycc commented on #4
You need to test it by yourself. The issue is in the UI. When we do the
second deployment. All messages are shown immediately even the actions is
not executed yet. This must be something wrong in the message display
system.

2013/8/31 Penn Su notifications@github.com

[2013-08-30 20:54] wycc commented on #3
We have discussed this for more than one month. Please don't tell me that
you have no idea. If you do, I can show you. Or you can ask Niels. Please
try to write a simple custom Java which can be used to control the on board
LED as example.  I want to include it in the wuclass toturial.

2013/8/31 Penn Su notifications@github.com

[2013-08-30 20:58] wycc commented on #16
This should not be an big task. We don't need to rewrite the component
system. We only need to rewrite the block.js to use the jquery plumber to
display the blocks and connectors.

2013/8/31 Penn Su notifications@github.com

[2013-08-30 21:00] wycc opened #17 "Implement a import component feature to include components from other page."
In order to link pages together. We need to able to import components from other pages.

[2013-08-30 21:01] wycc opened #18 "Implement hiearchical viewer in the FBP editor"
We need to provide the capability to make a composite compoments which include a couple of subgraph.

[2013-08-30 21:27] pencilcheck commented on #9
Ok, fixed in my local copy

[2013-08-31 05:01] pencilcheck commented on #16
Then it shouldn't be a problem then, can you take care of this before the end of this month? Maybe some new students can work on this as well.

[2013-08-31 05:10] wycc commented on #16
No, this should be future work.

2013/8/31 Penn Su notifications@github.com

[2013-08-31 06:13] pencilcheck commented on #16
Sure. Let's do it in next release then.

[2013-08-31 06:15] pencilcheck commented on #17
We have to be careful to not make things complicated. I thought pages share the same app context so if I have custom components in one app, shouldn't I be able to use it in all pages in the app?

[2013-08-31 06:17] pencilcheck commented on #3
No, I mean that I probably don't know if there are other places that I could miss, but I know where they are when we are fixing the UI last Tues. meeting

[2013-08-31 06:18] pencilcheck commented on #4
I'm leaving some records here so later people can come back and understand how and what we were doing.

Ok, if that's the issue, then probably because I didn't reset the deploy messages so when it is deployed it just shows all previous deploy log.

[2013-08-31 10:48] wycc commented on #17
I don't think that the custom components has anything special. Once is it
craeted in the page, we can use it all pages like standard components.

2013/8/31 Penn Su notifications@github.com

[2013-08-31 10:50] wycc commented on #3
What we need to do is to verify if the custom Java class will be compiled
and included or not. As I put in the description, I hope to write a custom
java wuclass which can control the ob board LED as demo of this concept.

2013/8/31 Penn Su notifications@github.com

[2013-08-31 10:52] wycc commented on #4
I believe that this is the case. I remember that you implement a new status
report system. Can you prepare a document to explain that? How does the new
system avoid the state machine issue in the old system.

2013/8/31 Penn Su notifications@github.com

[2013-08-31 11:00] pencilcheck commented on #4
I will just write it here.
Basically I have instance variables such as deploy_status and mapping_status and deploy_ops in WuApplication to contain deploy and mapping log. deploy_ops is for giving control to the DOM element, such as closing the dialog.

The javascript will constantly poll for the log and display on the page. That's it.

[2013-08-31 11:02] wycc commented on #4
So, in every polling, we will return the whole log instead of the latest
item. Is it?

2013/8/31 Penn Su notifications@github.com

[2013-08-31 11:03] pencilcheck commented on #4
It just pulls all logs at once yes.

[2013-08-31 15:01] wycc opened #19 "The include/exclude does not update the UI correctly"
The UI is not updated correctly when we include/exclude a device. The function is OK. However, the UI is not updated. This function works before. I guess that the message passing function is changed.

[2013-08-31 15:02] wycc opened #20 "After include/exclude a device, we need to update the model"
We may need to notify the location tree as well.

[2013-08-31 16:43] wycc opened #21 "When the virtual is no, we should not generate the virtual wuclass for it."
I try the binary sensor. The mapper will try to generate virtual wuclass for it.

[2013-08-31 17:07] wycc opened #22 "In the map, we will show the previous results without any indication that the mapper is still working."
We should remove the previous result and show a busy message or change the cursor to be busy.

[2013-08-31 17:27] wycc opened #23 "The mapper do not prefer the native wuobject."
Currently, the mapper will choice wuobject if it exists. However, if we have two devices matched by the locationtree, the mapper might select the device with virtual wuclass if its node_id is smaller. We should change the mapper to sort all candidates.

[2013-08-31 19:48] pencilcheck commented on #21
In getWuObjectList for VM it is only sending the wuobjevt port number and
wuclass id, so the master will create every wuobject as if it is all not
virtual.
We have to fix this, but I'm curious as to why binary sensor wuobject would
want to generate a virtual wuobject for it since it will be fetch as non
virtual.
The application template (application2.java) will check for virtual
attribute before g

[2013-09-01 03:11] wycc commented on #21
There are two problems here.

(1) In the old mapper, we will check the virtual flag. If a wuclass has
virtual attribute, we know that it has Java implementation and use it to
create the wuclass. However, we don't have this in the new mapper.
(2) The second issue is that. If we have two devices, one with binary
sensor and the other without it. We should give the one with native binary
sensor a high

[2013-09-01 03:46] pencilcheck commented on #21
Sure, we would just give higher score for native wuclasses over virtual ones. That should be an easy fix.
But how about the issue that you faced? What happened there? Are you sure it detected a virtual wuclass for the binary sensor in the node?

[2013-09-01 04:16] wycc commented on #21
I am sure. I have two devcies. One with binary sensor and the other one do
not have binary sensor. The mapper select the one withour binary sensor and
use a virtual wuclass.

2013/9/1 Penn Su notifications@github.com

[2013-09-01 11:14] pencilcheck opened #24 "wuclass.impl is missing!"
In merge-features branch, the file wuclass.impl is missing so whenever the file does not exist it will always throw this error in the console. Please someone commit this file into the repo.

[2013-09-01 14:44] wycc commented on #24
Added

2013/9/1 Penn Su notifications@github.com

[2013-09-01 14:45] #24 closed, assigned to wycc

[2013-09-03 03:19] pencilcheck commented on #1
Implemented in commit 317df90

[2013-09-03 03:19] #1 closed, assigned to pencilcheck

[2013-09-03 03:57] pencilcheck commented on #23
I'm sorting the node.wuclasses() and node.wuobjects() using sorted by the virtual key.
sorted is ascending by default.

That should do it. Will commit soon.

[2013-09-03 05:18] pencilcheck commented on #23
Committed at f4a07015d9. Please check.

[2013-09-03 05:18] #23 closed, assigned to pencilcheck

[2013-09-03 05:19] pencilcheck commented on #9
Fixed some typos today, forgot to remove endif as well.

[2013-09-03 05:19] #9 closed, assigned to pencilcheck

[2013-09-04 00:27] wycc opened #25 "The Java WuClass is not working"

[2013-09-04 06:22] pencilcheck opened #26 "[New Design] VM property propagation"
Current implementation loops through properties that need to be pushed and iterate through all links that matched certain patterns, and if one of the links (one-to-many) has failed, the function will continue sending the rest of the links and then aggregate the error code in the return value, so the error callback will be called after the function has returned. However, if there are n links, and t

[2013-09-05 08:31] pencilcheck opened #27 "Should look for implementation when creating a wuclass or wuobject instance in mapper or discovery"
There is a bug in mapper where it will create wuobjects regardless the existence of the implementation in target language.

For example, if an application needs a LED component, and the target node does not have the wuobject nor wuclass, it will try to create a virtual Java LED wuobject, then the compilation will fail because it cannot find the corresponding java class for LED.

[2013-09-05 08:35] pencilcheck opened #28 "Automate finding/listing the port for devices"
Currently we have to manually find and copy paste the port from terminal after plugging the device and this is tedious. We should do something similar to Arduino IDE to automate this process and auto select the last selected or the most plausible port to upload code to or as a gateway.

[2013-09-07 06:32] pencilcheck opened #29 "WuClass Editor is still very buggy"
Both global WuClass Editor and application Edit component are both buggy and not working intuitively

First, the edit component will not save the newly created wuclasses if there was no custom wuclasses created before (the Custom 1), and even after I check the checkbox next to the name the xml will not be updated and no WKDeployCustomComponents.xml file will be created.

That's one bug, but there

[2013-09-07 06:35] pencilcheck opened #30 "Global WuClass Designer still can let user select type for a wuclass"
We should remove that option to select "type" for a wuclass as we have discussed before.

[2013-09-07 08:08] pencilcheck opened #31 "No save options for wuclasses tab in both edit component and wuclass designer"
No save for wuclasses, I can't save them.

[2013-09-07 08:18] wycc commented on #29
I understand that we will have a number of bugs in the WuClass designer.
This is why I need somebody to test it.

However, before we go into the UI issues. We need to make sure

(1) Is virtual wuclasses working at all?
(2) Is application Custom WuClass working at all?

I can fix the WuClass Designer issues at Tuesday. However, please give us
the results for the above two questions as soon as possi

[2013-09-07 08:20] wycc commented on #30
Please explain it. Are you saying to remove the Save button or what?

2013/9/7 Penn Su notifications@github.com

##

YC

Phone: 886-2-23516989
Mobile: 0919816155

[2013-09-07 08:21] wycc commented on #31
It's in the Type page.

2013/9/7 Penn Su notifications@github.com

##

YC

Phone: 886-2-23516989
Mobile: 0919816155

[2013-09-07 08:22] pencilcheck opened #32 "wuide.js does not take into account the difference between C and java implementation"
The name parameter passed into wuclasssource url is always assumed to be for C, that's why there is always _update after the class name when I choose java as my language.

[2013-09-07 08:33] pencilcheck commented on #29
On Sat, Sep 7, 2013 at 4:18 PM, Yu-Chung Wang notifications@github.comwrote:

And once that is called the generated virtual java wuclass will be placed
in the virtual java wuclass dir as specified in the xml.

Basically we just need to make sure that wkdeploy/build.xml and
wkpf-app.xml are both working properly, and I believe they are.

The problem with this approach is that virtual java wuclasses

[2013-09-07 08:33] pencilcheck commented on #31
Why is it in the type page? I thought save in type is for saving types, not for wuclasses...

[2013-09-07 08:34] pencilcheck commented on #30
When you are editing for a wuclasses it lets you select the "type" for the wuclasses with the options given "Software", "Hardware" which we have discussed before to ignore and leave only native and virtual options. Isn't it?

[2013-09-07 08:36] wycc commented on #29
2013/9/7 Penn Su notifications@github.com

[2013-09-07 08:38] wycc commented on #30
I don't know if the mapper may still need this flag to distinguish the
hardware or software implementation of the same WuClass. However, we may
remove it for now since nobody use it.

2013/9/7 Penn Su notifications@github.com

[2013-09-07 08:41] wycc commented on #31
Type and WuClass are in the same XML. We can not save the Type data only
and we have no reason to do that either. I would like to add a global Save
and Cancel button in the bottom of the dialog to replace the save button in
the Type.

2013/9/7 Penn Su notifications@github.com

[2013-09-07 08:43] pencilcheck opened #33 "Do a ant clean between deployment builds"
As discussed in this issue https://github.com/wukong-m2m/wukong-darjeeling/issues/29

An application specific component will have a generated java class placed in a general directory shared among all applications in the master; therefore, application specific components will "leak" into other applications if not careful.

So we need to clean up and regenerate all virtual java wuclasses before depl

[2013-09-07 08:45] pencilcheck opened #34 "Global WuClass Editor has a bug with creating multiple new wuclasses"
In global WuClass Editor, if you go to Classes tab and try to create a new wuclass it will not show you any GUI hint except for a subtle update by adding at the bottom of the list called "New Class", and if you don't do anything and keep hitting the "New Class" button, more entries will appear with the same name and if you go in one of the created wuclass and try to change something and exit back

[2013-09-07 08:48] pencilcheck opened #35 "WuCass Editor and Edit component should be clear to users on the state of the component implementations"
It is not very clear whether wuclasses are created or not by looking at the GUI. In the wuclass edit panel, I can't tell if I am creating a C or a Java class, or if both implementations are already created.

[2013-09-07 08:58] pencilcheck commented on #31
Even though they are in the same file, that is not an excuse to put UI as directly reflection of that model.
Users shouldn't care about what's actually implemented. They just want to work with our system without having to confront the nitty gritty of our internal representations.

The UI design should put in more efforts and I think we should consider a new type of workflow in this project to prev

[2013-09-07 09:16] pencilcheck opened #36 "In WuClass Designer or Application edit component, wuclass id should be auto assigned"
If I leave the id field empty and save, the xml will have an entry with an empty id.

The id field should be removed, and auto generated and assigned to the new wuclass.

Also need to take into account application specific components, since they are only visible to specific application when the id is globally unique.

[2013-09-07 09:30] pencilcheck opened #37 "Save in type (will be changed) does not save implementation"
After I create a new wuclass, edit the java source code for the wuclass and hit save, only enabled_wuclass.xml and WuKongStandardLibrary.xml are changed but no where can I find the implementation I just edit.

This issue corresponds to the other issue on the UI https://github.com/wukong-m2m/wukong-darjeeling/issues/35

Should also look after the types as well, they should all be saved

[2013-09-07 09:55] pencilcheck commented on #25
After a brief inspection, I concluded that the UI is buggy.

https://github.com/wukong-m2m/wukong-darjeeling/issues/37
https://github.com/wukong-m2m/wukong-darjeeling/issues/35
https://github.com/wukong-m2m/wukong-darjeeling/issues/34
https://github.com/wukong-m2m/wukong-darjeeling/issues/32
https://github.com/wukong-m2m/wukong-darjeeling/issues/31
https://github.com/wukong-m2m/wukong-darjeeling/i

[2013-09-07 10:03] wycc commented on #25
Can you verify if it works without the UI?

2013/9/7 Penn Su notifications@github.com

[2013-09-07 10:41] pencilcheck commented on #25
Yes, we just need to make sure ant tasks are calling the appropriate
commands to generate the java classes for the wuclasses then the rest would
be up to UI

On Saturday, September 7, 2013, Yu-Chung Wang wrote:

##

_--_
_Penn Su_
National Taiwan University
Department of Computer Science

[2013-09-07 10:56] wycc commented on #25
Post it as soon as it works. I will fix all UI issues very soon.

2013/9/7 Penn Su notifications@github.com

[2013-09-07 16:51] wycc commented on #31
Relocate the Save button to the top bar to make it clear that it will save everything. 7d20467

[2013-09-07 16:51] #31 closed, assigned to wycc

[2013-09-07 16:56] wycc commented on #30
20b1605

Hide the type editor.

[2013-09-07 16:56] #30 closed, assigned to nobody

[2013-09-07 17:53] wycc commented on #32
Implemented in e50b1da

[2013-09-07 17:53] #32 closed, assigned to wycc

[2013-09-07 17:55] wycc commented on #35
For now, the only way to check it is to click the Edit button.

[2013-09-07 17:56] wycc commented on #37
The Save All save the XML only. The source code will be saved in the text editor windows. The reason of this issue is related to a bug in the save function. It has been fixed at e50b1da

[2013-09-07 17:56] #37 closed, assigned to wycc

[2013-09-07 17:59] wycc commented on #29
Most issues has been addressed. We need to revisit all issues again and close this issue.

[2013-09-07 18:07] pencilcheck commented on #35
It should at least say "New" for creating a new implementation
Or "Edit" if existing implementation is found for that language.

[2013-09-07 18:12] pencilcheck commented on #37
Where are you saving the implementation file to?

Make sure you make the distinction between global and app specific, because now all virtual wuclasses are placed in one directory regardless of visibility (wukong/javax/wukong/virtualwuclasses).

I don't know if building WKDeploy consider that.

[2013-09-07 18:28] wycc commented on #34
This has been fixed. 3c9a68d

[2013-09-07 18:28] #34 closed, assigned to nobody

[2013-09-07 18:34] wycc commented on #35
We need to think about the UI in more details. We may need to use a wizard
to create a new wuclass in the next release so that we won't worry that the
implementation is available or not. I will leave this as it is in the
release and implement the wuclass wizard latter.

In addition, we may need to think about if we want to make the Name and ID
to be readonly for existing wuclasses. The current edi

[2013-09-07 18:36] wycc commented on #37
The application specific wuclass should be in the app directory. For the
global one, it will be in the lib/wkpf/c/common/native_wuclasses and the
java version is in the wukong/javax/wokong/virtualwuclasses.

I have not verify the app specific code yet. Maybe do it in the Tuesday
together.

2013/9/8 Penn Su notifications@github.com

[2013-09-07 19:15] pencilcheck opened #38 "WKDeployCustomComponents.xml is not copied to the src/app/wkdeploy/java"
It appears to me that wkpf-app.xml requires WKDeployCustomComponents.xml to be presented in the java directory of wkdeploy so it can call codegen.py on it to generate additional GENERATEDXXX.java files for the app specific components, but it's weird how Niels actually place them in the same directory instead, but I don't know where should the GENERATEDXXX.java for custom components go either. This

[2013-09-07 19:20] pencilcheck opened #39 "There should be a app specific dir for placing all app specific GENERATED and custom component java source code when building WKDeploy"
As mentioned in issue https://github.com/wukong-m2m/wukong-darjeeling/issues/38, instead of including a broad wukong master dir as the java source path, we should be more specific and include only the dir that includes currently deploying app specific java files, generated or the source code.

So we should create an app specific dir in wkdeploy/java to include all appropriate app specific java sou

[2013-09-08 07:56] wycc opened #40 "Save the location in the wuobject instead of wudevice"
Since installer may attach sensors to the wudevice, a wudevice may have a couple of different devices located in different locations. We should save the location to a wuobject instead of wudevices.

The other question is to support master side locations which save the locations in the master only for the device which can not accept the set location command.(i.e. Native ZWave sensors).

[2013-09-08 08:00] wycc opened #41 "Find the way to put multiple binary sensors to a wudevice."

[2013-09-08 23:59] wycc commented on #25
Have you test the Java version of the WuClass, such as Thresold, AndGate? Others report that they are not working.

[2013-09-09 05:23] nielsreijers commented on #38
Just catching up on my email a bit. I don't really get what's the issue here, or what's weird about it?
The custom components is part of the app right, so should be in the wkdeploy directory. In my opinion, all code specific to the appl should stay in the wkdeploy directory. So if an application contains any custom components, both the custom Java containing the update function, and the generated

[2013-09-09 05:53] pencilcheck commented on #38
The build.xml for wkdeploy is looking for WKDeployCustomComponents.xml in the directory which none of the code is working to copy the file, so when master is deploying the app and running the ant command the xml will not be there, thus the custom components abstract parent java classes will not be generated, and thus compiling will not include the custom components.

We shouldn't need to clean the

[2013-09-09 06:12] nielsreijers commented on #38
Yes, you should clean the wkdeploy directory. But not all virtual wuclasses, the ones in the standard library don't need to be recompiled (would be a waste to do so).

I don't really get what you're saying in the first bit. Of course it won't work if the xml isn't there. You can make an application specific directory for it, but it seems much easier to me to just put everything in the wkdeploy dir

[2013-09-09 06:28] pencilcheck commented on #38
Currently I believe the master_server.py will creates the WKDeployCustomComponents.xml in respective apps directory (the one in wukong/master), but the build.xml is looking for this file in the wkdeploy/java directory. Thus when wkpf-app.xml calls the target "app-specific-codegen", the build will not be able to generate the meta classes for the app specific virtual wuclasses.

[2013-09-10 04:18] pencilcheck opened #42 "Codegen should generate all java wuclasses implementation even if there is no user implementation yet"
Codegen only generates the parent java classes that contains the meta data of the wuclasses. However if users use any of the wuclasses that doesn't have a implementation file, there will be an error about file not found.

Codegen should generate the implementation with the template for all components that doesn't have an implementation.

[2013-09-10 17:36] curtis1213 opened #43 "java wucalsses don't work"
When I traced the code, I commented all native wuclasses in enabled_wuclass.xml to make sure there is initially no native wuobject in the wudevice. Then I deployed a virtual wucalss, and found out that wkpf_get_wuobject_by_port() returned error, which is in line 308 in wkpf_links.c. Therefore the function returned in line 310.
And I also checked whether there is java wuobject by checking status of

[2013-09-11 15:10] curtis1213 commented on #43
Have you checked on the node to verify that the wuobject has not been
created?
Also could you tell us whether the wuobject property value/status is read?
Can you trace and pinpoint the bug?

And when it return errors, what error? how does it occur, what do you think
we can do to fix it? just describe it briefly, but it would help to advance
this discussion a bit faster.

Sincerely,
Penn

[2013-09-11 15:26] pencilcheck commented on #43
That's weird. Github reply didn't reply on this thread. Sorry about for the small spam.

Anyway, have you find out the problem and fixed it yet?

[2013-09-11 15:41] curtis1213 commented on #43
I tried to reply but deleted your response accidentally, sorry for that.

The property value is read in function wkpf_process_initvalues_list(). But before getting property value, the wuobject has to be got from wuobject list. This function named wkpf_get_wuobject_by_port() is used to get wuobject by its port number, but it can't be find from wuobject list.
Then the function returns error message

[2013-09-11 15:45] pencilcheck commented on #43
And yes, that's why I want you to check the things I listed in my previous reply. Have you done that yet?

[2013-09-11 15:47] curtis1213 commented on #43
Yes, I checked the node.

[2013-09-11 15:49] pencilcheck commented on #43
Yes. What did  you check? Have you checked the code that initialize the wuobjects? do you see anything there?

Also could you tell us whether the wuobject property value/status is read?
Can you trace and pinpoint the bug?

And when it return errors, what error? how does it occur, what do you think
we can do to fix it?

[2013-09-11 16:07] curtis1213 commented on #43
I don't get it, I thought my response is clear. The property value is read after that java wuobject is got. But the java wuobject is missing, so property value is not read. And the error occurs because of the lost of java wuobject.
And I think the java wuobject is created by master server and I am not familiar with the master code, I don't know where to start to find the bug, correct me if I wrong

[2013-09-11 18:36] pencilcheck commented on #43
NanoKong Darjeeling VM will first register virtual wuclasses and create wuobjects on start, then it will setup the properties with initial values provided from the xml.

If the wuobjects or wuclasses are not registered correctly, then master of course will not be able to discover them, that's why I want you to verify that the VM does indeed register the virtual wuclasses, and create the wuobject o

[2013-09-12 18:09] curtis1213 commented on #43
progress update:
at 45th line of wkpf_wuobjects.c

if (!(wuclass->flags & WKPF_WUCLASS_FLAG_APP_CAN_CREATE_INSTANCE) && !called_from_wkpf_native_wuclasses_init)
        return WKPF_ERR_CANT_CREATE_INSTANCE_OF_WUCLASS;

When VM tries to create java wuobject, it fails due to "wuclass->flags" is 0 and "called_from_wkpf_native_wuclasses_init is false". I haven't understood the meaning of "flags" and w

[2013-09-12 19:38] pencilcheck commented on #43
flags is 0 but WKPF_WUCLASS_FLAG_APP_CAN_CREATE_INSTANCE is 1, so that means the expression should evaluate to be false, which will in return be true negated by the outside !, and that's why this wuclass cannot be instantiated.

Niels, can you tell us what the value of flags is suppose to be for virtual wuclasses? It looks like you didn't set the flags when you register virtual wuclass. (wkpf_virt

[2013-09-12 20:30] nielsreijers commented on #43
Sorry, just got home and it seems you guys solved the problem already. Yes,
WKPF_WUCLASS_FLAG_APP_CAN_CREATE_INSTANCE should be true for virtual
classes (or you could change wkpf_wuobjects.c:45 to just always allow
virtual classes, but the first solution seems both cleaner and a tiny bit
faster)

I can't really reconstruct it from the history, but what could have
happened is that I created the pic

[2013-09-13 03:40] senatorjo opened #44 "data.ops not defined"
In offline mode, if we go to the node editor tab. There will be an error reported in poll() function, "data.ops.indexOf('c')", will report," data.ops not defined"
 $.post(url, {version: version}, function(data) {
        if (typeof callback != 'undefined') {
            callback(data);
        }
        if (data.ops.indexOf('c') != -1) {
Uncaught TypeError: Cannot call method 'indexOf' of undefine

[2013-09-13 03:56] pencilcheck opened #45 "Deploy process still have some issues"
Currently deploy still haven't copied WKDeployCustomComponents.xml to wkdeploy/java dir

It should also copy all app specific java components to wkdeploy as well

It also needs to change java source path to javax dir

[2013-09-13 06:29] curtis1213 commented on #43
I turned on the flag of virtual wuclass, it should work now.
The code has been pushed to merge-features branch.

[2013-09-13 06:29] #43 closed, assigned to nobody

[2013-09-13 06:41] curtis1213 opened #46 "virtual wuclass will not work if it is deployed more than one time"
Virtual wuclass works after first time deployment. Once it is deployed, the mapper considers wudevice has the virtual wuobject and won't order VM to create a new one. In this situation, the virtual wuclass will fail because the virtual wuobject is deleted and no longer exist in wudevice after it is deployed once again.

[2013-09-13 07:56] pencilcheck commented on #45
Done

[2013-09-13 07:56] #45 closed, assigned to nobody

[2013-09-13 14:49] pencilcheck commented on #39
In the latest commit 84215ffdc3, we have made it scan recursively for all java files in the app directory to copy to the wkdeploy/java directory for deployment

[2013-09-13 14:49] #39 closed, assigned to wycc

[2013-09-13 14:50] pencilcheck commented on #38
f22466367e

[2013-09-13 14:50] #38 closed, assigned to wycc

[2013-09-13 14:51] pencilcheck commented on #33
4acc7629f37de1c7f50c3feb23c40605f4edb408

and several improvements

1e5db76ec9f19588184ae955d240656deccb6de4

etc

[2013-09-13 14:51] #33 closed, assigned to nobody

[2013-09-13 14:55] pencilcheck commented on #44
which branch and commit are you in?

My poll function looks like this in the latest commit of branch merge-features

410     $.post(url, {version: version}, function(data) {¬
411         if (typeof callback != 'undefined') {¬
412             callback(data);¬
413         }¬
414 ¬
415         if (data && data.ops && data.ops.indexOf('c') != -1) {¬
416             stop_polling();¬
417         } else

[2013-09-13 14:55] #44 closed, assigned to nobody

[2013-09-13 15:15] pencilcheck commented on #46
This is not a small issue to fix, as it requires a drastic change in the wuclass/wuobject models in master.

Under the current model, the workaround would be to let mapper to create a new virtual object for every found virtual java wuobjects on the nodes, but this is not ideal since we will be creating a lot of waste wuobjects after each deploy. One way to fix that would have to write a routine to

[2013-09-13 23:48] wycc commented on #46
This can be solved by a simple change in the VM. In the getWuObjectList, we
need to set a flag to tell the master this wuobject is virtual. Then, the
codegen will do the right job for it. In the future, we can skip those
wuobjects in the full deployment.

This is a small change in the wkpf_comm_handle_message. We need to check
the WKPF_IS_VIRTUAL_WUOBJECT and then return it to the master. In the
p

[2013-09-13 23:49] wycc commented on #46
This is something must be fixed in this release.

2013/9/14 Yu-Chung Wang wycc@homescenario.com

##

YC

Phone: 886-2-23516989
Mobile: 0919816155

[2013-09-14 07:32] pencilcheck commented on #46
We already did that. WuObjects have a virtual flag for that.
The problem is not that codegen will take care of it, it is not as stated in my previous response.

[2013-09-15 10:26] pencilcheck commented on #46
Ok, just wrrite up a fix in the local copy, ready to push.
Basically I was wrong, it doesn't matter if we create a new wuobject in mapper or not, they will not be saved to db.
The only missing link is in the wkpf_comm handler where VM constructs the response for a list of wuobjects on the node where it doesn't give the master information on its virtuality, so I added that, but that bumps the messa

[2013-09-15 11:05] pencilcheck commented on #46
Tested with locally and there appears to be working, will close this issue.

[2013-09-15 11:05] #46 closed, assigned to nobody

[2013-09-15 11:08] pencilcheck opened #47 "Should remove virtual from WuClassDef class and also in WuKongStandardLibrary.xml component entries"
Even though our code is not using it, we should remove it from the codebase. And also as we have discussed before, we have concluded to get the virtuality (almost the same as implementation since you can't preload java wuclasses on VM), from the devices themselves.

But since this will not hurt the functionality of the runtime, we will fix this in the next release.

[2013-09-16 05:44] nielsreijers commented on #47
How will the codegen know for which classes it needs to generate
baseclasses? (or does it just generate them for all defined wuclasses?)

On Sun, Sep 15, 2013 at 1:08 PM, Penn Su notifications@github.com wrote:

##

_

[2013-09-16 07:41] pencilcheck commented on #47
Yes, we should have a file somewhere that stores the implementations found
for each component, then codegen should generate the base class for the
particular implementation language.

We shouldn't be limiting ourselves to Java and C right? Maybe in the future
we would have Python, Ruby..

Sincerely,
Penn

On Mon, Sep 16, 2013 at 1:44 PM, Niels Reijers notifications@github.comwrote:

[2013-09-16 07:49] pencilcheck commented on #47
We all already agreed that the virtuality of wuclasses depends on the
sources. Native wuclasses are compiled and uploaded with the VM at the time
of manufacturing by the developers or installers; virtual wuclasses are
"added" by WuKong Master.

If virtual still indicates the component target (whether it is hardware
resource of computation resource), or whether it can be published, then we
shouldn'

[2013-09-16 08:51] wycc commented on #47
The codegen will depend on the virtual flag of each wuobject. Therefore,
Penn modify the VM to publish a flag to indicate if a wuobject is virtual
or not. If it is virtual, the code need to include the Java implementation
of a wuclass.

Therefore, the virtual flag in the XML is used to decide if we have a Java
implementation or not. The codegen will use the virtual in the wuobject
instead to decid

[2013-09-16 09:20] pencilcheck commented on #47
Yes, that's because codegen is designed with the old design in mind, where
virtual wuclasses are always implemented in Java. That is useful for now,
as we only support C and Java, and only Java code can reprogram nodes
wirelessly, so the line between virtual and native wuclasses are easily
defined by the language it is implemented in.

However we have discussed about this before, xml definition sh

[2013-09-16 09:38] wycc commented on #47
Let's focus on the current situation here. The support for other language
and remove the virtual from the XML need separate mechanism. If we decide
to support them, we need a separate design document for them since those
are not simple feature.

2013/9/16 Penn Su notifications@github.com

[2013-09-16 17:27] pencilcheck commented on #47
Sure. I will open an feature request for adding support for more languages in the future.
Removing virtual from XML could be easily solved by modifying codegen to generate base information (or classes) for both C and java and store that in the knowledge base and then Master should know which implementation a particular wuclass has and will use the right one appropriately when deploying.

[2013-09-16 17:29] pencilcheck opened #48 "[Feature] Add support for more languages in the future (e.g. Python)"
Spurred from the discussion in issue https://github.com/wukong-m2m/wukong-darjeeling/issues/47, we should be looking into supporting more languages in the future. There are many ways to do this, and we welcome any written documents on the design of this feature.

[2013-09-17 23:04] senatorjo opened #49 "Merge Location branch back to develop"
I just merged the location branch into develop. I also fixed a bug, so now we can double click on location tree nodes in order to show its information.

[2013-09-17 23:31] senatorjo commented on #49
I will try to write a document about the idea of every field there after I review the current mapping code.

[2013-09-24 19:40] senatorjo opened #50 "Remove dependency on the internet"
We should keep a local copy of these two files in order to remove dependency on the internet:
http://cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.5/bootstrap-editable/css/bootstrap-editable.css
http://cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.5/bootstrap-editable/js/bootstrap-editable.min.js
There is also a 404 error here, seems there is no jquery.cookie.js under ./wukong/master/static/js:
GE

[2013-09-24 23:16] senatorjo opened #51 "We should not use database cache for discovery"
If we change location of sensor nodes and rediscover again, the same result will be shown. According to terminal dump, it seems database cache is used:
[wkpfcomm] getting all nodes from cache

[2013-10-14 21:16] wycc opened #52 "When a device is included or excluded, the discovery result must be updated as well."
For now, after we include a device, we can not use it until we restart the master because the WuNode is not updated and we will not discovery the wuclass and wuobject for the new device.

When we delete a device, we can still see it in the Node Editor and LocationTree.

[2013-10-15 00:39] chishengshih commented on #52
Is this a bug?

Chi-Sheng Shih
National Taiwan University

[2013-10-15 00:51] wycc commented on #52
It's a bug and it is in the tracker already.

2013/10/15 Chi-Sheng (Daniel) Shih notifications@github.com

[2013-10-15 01:02] senatorjo commented on #52
This is because cache is used for discovery and is related to database cache things. See issue #51
Reassigning it to Pencilcheck

[2013-10-27 13:25] wycc opened #53 "templates/wuclass.tmpl.c seems to be missing"
We need to add it.

[2013-10-27 13:27] wycc opened #54 "Master is broken after saving the C hello world wuclass and restarting the master"
- Master is broken after saving the C hello world wuclass and restarting the master:
  Scanning /Users/niels/git/darjeeling/wukong/master/../../wukong/ComponentDefinitions/WuKongStandardLibrary.xml
  Constructing basic types
  Scanning types
  Scanning classes & properties
  Traceback (most recent call last):
  File "master_server.py", line 985, in <module>
    Parser.parseLibrary(COMPONENTXML_PAT

[2013-10-27 13:28] wycc opened #55 "Make clear what is in the list of wuclasses"
Make clear what is in the list of wuclasses. (all wuclasses, with a flag indicating if new objects can be created or not)

[2013-10-27 13:29] wycc opened #56 "Property editor doesn’t save changes to properties"
Property editor doesn’t save changes to properties, unless I add a new property. This seems to be the only moment my changes make it to the WuKongStandardLibrary.xml (I later discovered I need to press “Done” first. this is not intuitive when there’s a “Save All” button, which apparently doesn’t save everything)

[2013-10-27 13:30] wycc opened #57 "Adding a new property causes the default value to be cleared"

[2013-10-27 13:31] wycc opened #58 "Add text in the UI to make the meaning of the checkbox more intuitive"
- What does the checkbox before the wuclass mean? I guess it means this wuclass will be included in the VM? But there’s nothing in the UI to indicate what it does.

[2013-10-27 13:31] wycc opened #59 "In the code editor it says “Save” and “Abandon”. “Cancel” would be better."

[2013-10-27 13:32] wycc opened #60 "Chnage the deploy to be Install VM."
The third tab is labelled “Deploy”, which is also used for wirelessly deploying the application. It seems better to me to use a different word to indicated we’re preparing the wunode here. Maybe “Install VM” or “Burn VM image”

[2013-10-27 13:34] wycc opened #61 "Remove the ISP programmer"
What does selecting the ISP programmer do?

[2013-10-27 13:36] wycc opened #62 "When I press “Build” the master goes crazy spawning lots of java processes. “Upload” works though."

[2013-10-27 13:40] wycc opened #63 "At UI in the wuclass designer to create enum type"
- Can’t create enum properties yet?

[2013-10-27 13:49] wycc opened #64 "When we create a new wuclass, show the option to decide the platform or common if it does not depend on hardware."
- Doing this using the UI would lead to platform specific code ending up in the /lib/wkpf/c/common directory. When writing C code, we should have some mechanism to select a platform (currently posix/arduino. later maybe also taroko or others). If the wuclass doesn’t depend on hardware, it should be possible to put the code in the common directory, but in this case there can’t be any code for the s

[2013-10-28 03:28] nielsreijers opened #65 "Create a script to pull the latest version of all code from github and recompile everything."
When things like the infuser, ant tasks, or pyzwave change, it's too easy to forget to recompile these components, which leads to people wasting time on confusing error messages. It's convenient to have a script that pulls the latest version of all sources from github and just recompile everything.

[2013-10-28 03:41] cheweiliang commented on #53
There's another file named "wuclass.tmpl" which is not used and the content is the same as "wuclass.tmpl.c".
I renamed "wuclass.tmpl" to "wuclass.tmpl.c"

commit: 32a6494

[2013-10-28 03:41] #53 closed, assigned to cheweiliang

[2013-10-28 04:56] senatorjo commented on #51
resolved by commit 0b5c5807cc98a39d0950f093c75922f0642f9ab1 in develop branch

[2013-10-28 04:56] #52 closed, assigned to pencilcheck

[2013-10-28 06:48] cheweiliang commented on #62
It was caused by passing the wrong argument while polling the latest compile log.

Resolved commit: 0d298bf

[2013-10-28 06:48] #62 closed, assigned to cheweiliang

[2013-10-28 06:54] cheweiliang opened #66 "Clear the polling timer when build or upload completed in WuClass Designer"
It won't stop polling even when build or upload is completed.

[2013-10-28 07:14] cheweiliang commented on #66
Use a flag to indicate if it is done or not.
Check the flag before polling.

Resolved commit: 13d0c9a

[2013-10-28 07:14] #66 closed, assigned to cheweiliang

[2013-10-28 16:03] cheweiliang commented on #2
Resolved by @wycc at commit: a1ba49d

[2013-10-28 16:03] #2 closed, assigned to cheweiliang

[2013-10-29 02:15] cheweiliang opened #67 "Testing three stages fbp with location policy"
Use three simple component to test the functionality of location.

[2013-10-29 02:17] cheweiliang opened #68 "Implement analog pir sensor"

[2013-10-29 02:17] cheweiliang opened #69 "Implement digital light sensor"

[2013-10-29 02:22] cheweiliang opened #70 "Draw doll house demo scenario FBP"
Three scenario:
Bedroom:
If PIR + light dark -> lamp on
If ~PIR + light bright -> lamp off

Living room
If PIR + light-1 dark -> lamp-1 on
If PIR + light-1 bright + light-3 dark -> TV-2 off
If PIR + light-3 bright + light-1 bright -> lamp-1 off

Kitchen
If PIR + temp=high -> fan on
If PIR=off + temp=high + PIRLR=on -> TV-off + fan-on + lightLR-on
If PIR=off + temp=high + PIRBR=on -> TV-off + fan-o

[2013-10-29 05:09] cheweiliang opened #71 "Discover result is incorrect"
When I try to discover (click node editor), the result is always three "online" wunodes at location "WuKong" with 0 wuclass and 1 wuobject(Light actuator).
However, I don't have any "online" wunode, even if I have a online wunode, the wuclass list and wuobject list is incorrect.

Here's the log from the console:

my zwave address: 1
[wkpfcomm] getNodeInfo of node id 2
calling GetRoutingInformation

[2013-10-29 05:12] cheweiliang commented on #71
I just trace the code a little bit.
In function getNodeInfo(self, destination) in wkpfcomm.py:
I think it should enter the first if statement to get the node location, wuclass list, wuobject list. Is that correct?
But I am not sure what the "basic", "generic", and "specific" represent for.

[2013-10-29 12:59] wycc commented on #71
It looks like you have a native ZWave device in the node list. They will be
treated as Light Actuator even through that it is not active since we use
the (basic,generic,specific) to decide the device type. We can send a
SWITCH_BINARY_GET to check if the device is available or not in the future.
However, for now, if any zwave switch is added, we will treat it as
Light_Actuator.

2013/10/29 catliket

[2013-10-30 05:26] louisccc opened #72 "Drawing too many components in FBP editor facing error"
Whenever I create too many components in FBP editor. I face the error.
I tracked it from the Broswer's console, and find it's from block.js:171

Error message,
Uncaught TypeError: Cannot read property 'index' of undefined

Could Dr. Wang @wycc help me out this issue? I need to pass this issue in order to finish fbp application.

Related #70

[2013-10-30 09:50] chishengshih commented on #72
Louis,

Please provide detail information of the crash. The screenshot of FBP is one example.

In addition, the FBP for the demo seems to be very simple. Do these simple FBPs cause trouble? If not, you should not wait for Dr. Wang's response and continue to draw the FBP.

[2013-10-30 09:52] chishengshih commented on #72
Louis,

Please provide detail information of the crash. The screenshot of FBP is one example.

In addition, the FBP for the demo seems to be very simple. Do these simple FBPs cause trouble? If not, you should not wait for Dr. Wang's response and continue to draw the FBP.

Daniel

On 2013/10/30, at 下午1:26, louisccc notifications@github.com wrote:

---

Chi-Sheng (Daniel) Shih
NEWS Lab, National Tai

[2013-10-30 13:49] louisccc commented on #71
Hello @wycc

When I use my wedevice in discover process, it only shows light_actuator in the detail dialog.

![2013-10-30 9 46 52](https://f.cloud.github.com/assets/934994/1437214/d10b2622-4169-11e3-9cea-d439b7290e47.png)

Currently My enable_wuclasses.xml file is,

[code]

I can not get it, why the discover result only show light_actuator.

I am still tracing .. , please provide any help !

[2013-10-30 13:58] louisccc commented on #72
Sorry for @chishengshih , I have to say yes,
I can show the FBP I draw, It's simple, really.

This is the one, it seems okay if i really put two or three components on it.
![2013-10-30 9 53 49](https://f.cloud.github.com/assets/934994/1437277/bee780b6-416a-11e3-98c2-af598d8f1135.png)

But when I put the essential components on FBP editor. It acts like this screenshot.
![2013-10-30 9 55 39](https:/

[2013-10-30 17:18] hanboa commented on #71
I am in the same situation as Louis and also tried 3 cases, no component, one component and 3 stage components. It always turned out to be like this:
![image](https://f.cloud.github.com/assets/5266945/1439142/ebcf5c7c-4186-11e3-80fa-3596d8d34e0c.png)

The four wuobjects are always all light actuators no matter what the FBP is drawn in my tests.

[2013-10-30 23:14] wycc commented on #71
Please make sure that your wudevice is loaded with the latest VM. In the
end of the function radio_zwave_init(), there is a call to

radio_zwave_set_node_info(0,0xff,0)

This function will set the (generic,specific) to be (0xff,0). Therefore, in
the Master, it will be treated as WUDevice instead of native zwave device.
Please make sure this function is called.

2013/10/29 catlikethief notification

[2013-10-30 23:18] wycc commented on #72
Is this related to number of components or a specific component? I guess
that it should be related to the AND_GATE or PIR which is not really used
before.

2013/10/30 louisccc notifications@github.com

[2013-10-31 00:30] wycc commented on #72
Try to cange the signals to actions in the line 171.

2013/10/31 Yu-Chung Wang wycca1@gmail.com

[2013-10-31 02:05] chishengshih commented on #72
Louis,

Please check and report if it is caused by AND_GATE or PIR.

Daniel
On 2013/10/31, at 上午8:30, Yu-Chung Wang notifications@github.com wrote:

---

Chi-Sheng (Daniel) Shih
NEWS Lab, National Taiwan University
E-Mail: cshih@csie.ntu.edu.tw

## Phone: +886-2-33664927 Fax: +886-2-33663778

[2013-10-31 02:40] wycc commented on #72
I have responsed this issue in the other comment. Please try to change the
signals to the actions. If this works, commit it into the git and close
this issue.

2013/10/31 Chi-Sheng (Daniel) Shih notifications@github.com

[2013-10-31 02:50] louisccc commented on #72
I succeed, thank you.

[2013-10-31 02:50] #72 closed, assigned to wycc

[2013-10-31 03:08] louisccc opened #73 "Exporting Fbp to a file"
This is a minor issue,

Do we have any mechanism that we can share our fbp to other?

For example, @hanboa Hans is cooperating with me drawing the fbp of doll house demo, I want to show him what I draw but find no way other than screenshot.

If not, then I will try to implement this feature when available.
Any comment?

[2013-10-31 04:01] hanboa commented on #71
"radio_zwave_set_node_info()" function is called after I reset the Zwave module and re-match the device node ID.

[2013-10-31 10:17] hanboa commented on #71
The issue of mine as mentioned is resolved but it still cannot discover the components.

[2013-10-31 17:53] louisccc commented on #71
it seems that the radio_zwave_set_node_info() has been call since in the code.

[code]

we have print "set node info!!!!!!" in the end.
and i did see that on the arduino serial monitor

![2013-11-01 1 49 08](https://f.cloud.github.com/assets/934994/1448315/17a93c2c-4255-11e3-92b1-6a5835eef140.png)

Does this debug message indicate that radio_zwave_set_node_info has been exucuted ?
Or did uart_writ

[2013-10-31 21:14] senatorjo commented on #51
Just found the fix will cause other problems, i.e. second time discovery will return all nodes will 0 wuclasses and 0 wuobjects. Need to dive more into the code....

[2013-10-31 22:03] senatorjo commented on #51
Revered back to discovery through cache in commit 5192e44fdc433929ddf47d94d950ac84098345c8 .

The problem is basically because the database will assign its own ids to different nodes. Thus, during a second discovery, new node ids will be generated for the new discovery result, however, database content is not updated... Thus, master cannot find corresponding node in database and thought the nodes

[2013-10-31 22:05] senatorjo commented on #71
I just reopened issue #51 reversed my previous change and put some more comment on it. I am not sure if the issue is related to this one since both of them relates to discovery problem. But I just reference it here FYI.

[2013-10-31 23:14] chishengshih commented on #71
Sen,

Please spend some time to check if this issue is related to discovery issue posted lately.

Daniel
On 2013/11/01, at 上午6:05, senatorjo notifications@github.com wrote:

---

Chi-Sheng (Daniel) Shih
NEWS Lab, National Taiwan University
E-Mail: cshih@csie.ntu.edu.tw

## Phone: +886-2-33664927 Fax: +886-2-33663778

[2013-10-31 23:32] senatorjo commented on #71
@chishengshih  I already changed the code back to its previous version. So if people download the recent version, discovery for more than 1 time will use database instead real nodes... I don't think the problem talked here is mainly because of the problem I fixed since the symptom of the problem I previously caused, would be "discovery for a second time would only discover offline nodes." People h

[2013-10-31 23:50] chishengshih commented on #73
I don't think we have it. Go ahead and do it.

Daniel
On 2013/10/31, at 上午11:08, louisccc notifications@github.com wrote:

---

Chi-Sheng (Daniel) Shih
NEWS Lab, National Taiwan University
E-Mail: cshih@csie.ntu.edu.tw

## Phone: +886-2-33664927 Fax: +886-2-33663778

[2013-10-31 23:54] senatorjo commented on #73
A walk-around is go to your wukong/apps folder. find your [app] folder there (should be in some weird name like f92ea1839dc16d7396db358365da7066). and copy the [apps].xml. You can open the xml file checking its content to verify it is the one you want.

[2013-11-01 00:01] wycc commented on #73
The application should be able to be copied to another machine for testing.
It should working fine in the WebUI once you put the files in the new
master.

2013/11/1 senatorjo notifications@github.com

##

YC

Phone: 886-2-23516989
Mobile: 0919816155

[2013-11-01 00:19] chishengshih commented on #73
We discuss these approaches yesterday. We want to find a better way to share it. Eventually, we should user to share their applications over internet.

Chi-Sheng Shih
National Taiwan University

[2013-11-01 02:36] louisccc commented on #73
Copy the directory with hash name is of course a solution to share fbp,

but is not a friendly way for the user in the future, isn't it?
I think it should be simple if we share via

[code]

If okay I will implement it soon since it's very simple.

[2013-11-01 03:11] louisccc opened #74 "Implement or_gate wuclass"
When I draw the fbp for doll house demo.
I found that there is no or_gate definition in WuKongStandardLibrary.xml
also i search the native wuclass definition in NanoKong project.

Seems nobody has ever used this wuclass. Is there anyway to achieve or function based on current components definition we have ?

Related issue #70

[2013-11-01 03:48] louisccc opened #75 "Implement not_gate wuclass"
as title

[2013-11-01 04:28] wycc commented on #74
Is this part of the logic wuclass?

2013/11/1 louisccc notifications@github.com

##

YC

Phone: 886-2-23516989
Mobile: 0919816155

[2013-11-01 04:32] curtis1213 commented on #74
Yes, the and gate and or gate is usable in logic wuclass.

[2013-11-01 04:33] curtis1213 commented on #74
There are also XOR and NOT in logic wuclass.

[2013-11-01 05:06] louisccc commented on #74
That is an alternative currently.

But I am confused why i should feed four inputs.(That works if I feed two "true" to input3 and input4).

[2013-11-01 06:50] louisccc commented on #70
we've successfully drawn the fbp of doll house to Wukong IDE,

That is a really crazy fbp, please take a glance.

![2013-11-01 2 48 312](https://f.cloud.github.com/assets/934994/1452152/e00c389c-42c1-11e3-95d9-b38140b864cb.png)

[2013-11-01 07:13] louisccc opened #78 "How to add new location instead of landmark"
![2013-11-01 3 08 56](https://f.cloud.github.com/assets/934994/1452216/a976329e-42c4-11e3-9745-570f3ccbfa35.png)

Now we can only add landmark rather than have node location. How can we add new location, like "Livingroom", to the location field of each component.

related issue #70

[2013-11-01 07:17] cheweiliang commented on #78
You need to use "node location" to add new location.

[2013-11-01 07:24] louisccc commented on #78
How

![image](https://f.cloud.github.com/assets/934994/1452270/c0df4676-42c6-11e3-916d-e13c0702f529.png)

[2013-11-01 07:49] pencilcheck commented on #3
Compiling custom wuclasses is part of 1.0 milestone, close

[2013-11-01 07:49] #3 closed, assigned to pencilcheck

[2013-11-01 07:51] pencilcheck commented on #54
Can you reformat the error message so it is much readable? Also it seems like you didn't paste the full error trace.

[2013-11-01 07:52] pencilcheck commented on #25
What's the current status of Java WuClasses? I think they are fixed.

[2013-11-01 08:01] louisccc commented on #71
Seems it's not fixed.

[2013-11-01 08:45] chishengshih commented on #71
@senatorjo I asked Chen-Hsuan to diff the discovery on two different versions of master and see what may be the causes of the failure.

[2013-11-01 08:50] chishengshih commented on #25
@pencilcheck It seems that the last comment is asking if you test the Java version of WuClass. The ones checking WuClass in the last few months may not read this message and will NOT answer your questions.

In last meeting, Ken or Louis are asked to prepare the list of checked WuClass. Please check with Ken or Louis to find out the status.

@louisccc @catlikethief Who has the list of checked WuCla

[2013-11-01 12:14] nielsreijers commented on #70
Looks "impressive"...

Quick question: I see some places where multiple outputs go to the same
input property, mainly at the actuators. I don't think we allowed this
before, so I'm curious what the behaviour will be?

On Fri, Nov 1, 2013 at 2:50 PM, louisccc notifications@github.com wrote:

##

_

[2013-11-01 12:21] nielsreijers commented on #54
Steps to reproduce:

   1.

   Create new wuclass
   2.

   Add a property, but don’t change anything
   3.

   Save
   4.

   Stop master server
   5.

   Restart master server
   6.

   It will choke on:

[code]

 />
    </WuClass>

On Fri, Nov 1, 2013 at 3:51 PM, Penn Su notifications@github.com wrote:

##

_

[2013-11-01 12:22] nielsreijers commented on #54
Hmm, not as readable as I'd hoped ;-) but it will do I guess.

[2013-11-01 12:34] pencilcheck commented on #54
Then I would suggest looking into the creation of wuclass property, seems like there could be a corruption happening during save or that the function that saves the property has some erroneous assumptions.

[2013-11-01 12:35] pencilcheck commented on #54
But I will look into it.

[2013-11-01 16:09] wycc commented on #70
Usually, complex FBP should be divided into several page. However, this
mind me that the component import is not implement the the FBP editor yet.
It makes the complex FBP impossible. We should implement it as soon as
possible.

2013/11/1 Niels Reijers notifications@github.com

##

YC

Phone: 886-2-23516989
Mobile: 0919816155

[2013-11-01 16:46] wycc commented on #70
It looks like the import is there.However, it does not work.

2013/11/2 Yu-Chung Wang wycc@homescenario.com

##

YC

Phone: 886-2-23516989
Mobile: 0919816155

[2013-11-01 16:47] wycc opened #79 "Fix the import of the FBP editor."

[2013-11-02 00:40] wycc opened #80 "Make the wuclass name shorter so that it can be fit into the title of the block in the FBP editor."
Some of the wuclass has very long name. This make it unreadable in the FBP editor and we have no space to display the ID. We should change the name of all wuclass to be less than 7 characters. For example,

Condition_selector_bollean ---> cond_bool
COndition_selector_shart --> cond_short

[2013-11-02 00:44] wycc commented on #79
Solved at

2436371..a7867e4

We display the ID for every component in the FBP. This enable us to know two components in the different page are the same one.

However, it will be better if we can add the function to give every component a user-defined name so that it will be easier for us to know what it is. I will open another issue for this.

[2013-11-02 00:44] #79 closed, assigned to wycc

[2013-11-02 00:48] wycc opened #81 "Add name for each component in the FBP editor"
For now, components with the same type looks completely the same. It will be better if we can put some title for each component so that we can understand its usage without tracing the links. This is even more important if we use multiple page which the links is not complete in a single page. A user-defined name will make it more readable.

[2013-11-02 00:53] wycc commented on #70
The import is fixed. Please look at issue #79. I display ID for each
component as well so that we can know components are in the different page
are the same one. I open another issue #81 which add a name for each
component so that we can have have better understanding for using the same
instead of the wuclass type. We can tell the wuclass by using the
properties below. Display the type is kind of

[2013-11-03 03:51] #75 closed, assigned to louisccc

[2013-11-03 03:52] #74 closed, assigned to louisccc

[2013-11-03 03:55] louisccc commented on #80
@wycc
I found a problem that the fbp editor can not be extended.

That means when drawing application on the screen, I can only use fbp editor with screen-size to drag my components. I can not scroll down or scroll right for more area.

[2013-11-03 04:21] wycc commented on #80
For now, we can not scroll the view. It's not difficult to implement it.
Actually, we only need to remove the overflow:hidden CSS from the canvas.
However, if there is too many components, we should use multiple page
instead. Put everything in a single page is not a good way to write a FBP.

2013/11/3 louisccc notifications@github.com

[2013-11-03 07:52] wycc commented on #19
Fix in commit
e7da345..cfee305

This issue is due to the function of poll is changed at 1.0 branch

[2013-11-03 07:52] #19 closed, assigned to nobody

[2013-11-03 07:55] wycc opened #82 "Implement button include/exclude for wudevice 2.0"
The wudevice 2.0 has builtin button which can be abled by removing R9. It use PG5 instead of INT0 in the wudevice 1.0.

[2013-11-03 07:55] wycc commented on #82
Fixed at 1ea94fcc6c54594cdb151f8013cc4e9d9d8252ea

[2013-11-03 07:55] #82 closed, assigned to wycc

[2013-11-03 07:58] wycc commented on #60
Changed it to be Generate VM
71400f73c08acb8a110b917e64cc5127898f3a65

[2013-11-03 07:58] #60 closed, assigned to wycc

[2013-11-03 09:03] wycc opened #85 "If we deploy the application more than one time, the old message will not be cleared so that we can not see the progress in the web UI."
We need to clear the screen when we start deployment.

[2013-11-03 09:26] wycc opened #86 "Implement serial port monitor in the Web UI"
In the Generate VM page, add a button to open a window which show the output of a serial port. In this way, we can debug the wuclasses more easier.

[2013-11-03 09:28] wycc opened #87 "Improve the speed of the building system."
Currently, the ant take 2 minutes to build the VM even through no code is changed. We should try to improve the performance to get better user experience.

[2013-11-03 09:46] wycc opened #83 "Support location for native zwave device"
Save the location in the database instead of pushing it to the device for the native zwave device.

In addition, I don't see any benefit to save the location data in the wudevice. The wudevice themselves will not use this information at all. This is only useful if the wudevice can generate the location by itself.

[2013-11-03 09:52] wycc opened #84 "Deploy the application fail"
This is due to the src/app/wkdeploy/java directory is not existed.

[2013-11-03 14:18] wycc opened #88 "Add function to change the page name in the FBP editor"

[2013-11-03 14:19] wycc opened #89 "Add function to delete the page in the FBP editor"

[2013-11-03 15:37] wycc opened #90 "If we use the same component in different page, they will be map twice"
We should not map the component multiple times.

[2013-11-03 15:38] wycc commented on #90
![a](https://f.cloud.github.com/assets/457473/1461226/dbccd902-449d-11e3-8ebb-ec72a2fc6776.png)

In this example, the Threshold is used in two pages. It should be shown once only.

[2013-11-03 15:41] wycc opened #91 "When we change the setting of a component, we should change all copies of the same components in all pages."
We should search all pages and replace all of them.

The better way is to make the imported components a special type so that we will modify the master copy only.

[2013-11-03 22:36] wycc commented on #90
This is not displayed issue only. It will actually create unusable result since the component_index are incorrect.

[2013-11-04 02:43] cheweiliang commented on #25
@chishengshih Do you mean this file that list the tested WuClass a few month ago?
https://docs.google.com/spreadsheet/ccc?key=0At0U89ankPgcdGlzUEZTNWFVUlZGSnZLZUVZRU1EY3c&usp=drive_web#gid=0

[2013-11-04 03:37] nielsreijers opened #92 "2 Issues with the default code for a new wuclass"
If the class is called "Hello2", the default code in the code editor:
- tries to import GENERATEDHello2.h, while the codegen generates GENERATEDwuclass_hello2.c.
- contains a stub for wuclass_Hello2_update and wuclass_Hello2_setup, while the VM expects wuclass_hello2_update and wuclass_hello2_setup.

[2013-11-04 03:41] nielsreijers opened #93 ""Build" button in Generate VM tab only works once."
When I try to build the VM a second time, it only shows "start" and nothing seems to happen. If I refresh the page in my browser it will work again (once). I don't need to restart the master.

[2013-11-04 03:51] nielsreijers commented on #92
Also, it generates a
#ifdef ENABLE_WUCLASS_Hello2
line, which means the code inside isn't compiled. (actually we can probably get rid of all the ENABLE_WUCLASS_\* code.

[2013-11-04 04:14] nielsreijers opened #94 "Deleting wuclass doesn't work"
There are two problems:
- The generated code is still there after deleting the wuclass
- The user code is still there after deleting the wuclass. If I fix the first problem (which makes it fail now), it will fail on the user code referring to the now missing generated header file.

[2013-11-04 04:32] #5 closed, assigned to pencilcheck

[2013-11-04 05:26] chishengshih commented on #25
Yes, this is the one.

However, I suggested to add for each wuclass.
1. Version being tested.
2. Testing report.
3. Date/Time being tested.
4. Error message or Issue # for the error if there is any.

Can this file be added to the development branch?

Daniel

On Nov 4, 2013, at 10:43 AM, catlikethief notifications@github.com wrote:

---

Chi-Sheng (Daniel) Shih
NEWS Lab, National Taiwan University

[2013-11-04 05:38] wycc commented on #94
The second one is fine since we decide to delete the wuclass. The problem
is how to display it in the FBP editor. We need to the component in
different color if the wuclass is not available.

YC

2013/11/4 Niels Reijers notifications@github.com

##

YC

Phone: 886-2-23516989
Mobile: 0919816155

[2013-11-04 06:36] wycc commented on #90
Please merge the components before we call the mapper.

[2013-11-04 06:39] wycc commented on #80
Niels, please help to give each wuclass sharter name.

[2013-11-04 06:49] wycc commented on #71
Please use the latest VM to verify it again. It works at my environment.

[2013-11-04 06:50] nielsreijers commented on #94
It's not fine, since the ant script will try to build all C files in the
directory. Therefore it may fail if there are old files left over from
deleted wuclasses.

On Mon, Nov 4, 2013 at 1:38 PM, Yu-Chung Wang notifications@github.comwrote:

##

_

[2013-11-04 06:54] wycc commented on #92
Yes, we need to get rid of the ENABLE_xxxxx macro.

[2013-11-04 07:11] #61 closed, assigned to wycc

[2013-11-04 07:13] wycc commented on #55
This is from NIels's report.

[2013-11-04 07:34] wycc commented on #94
I means that it's fine if we delete all files when we delete the wuclass.
We can display error message if the build process fail.

2013/11/4 Niels Reijers notifications@github.com

[2013-11-04 13:34] wycc commented on #91
106c029ba1a7ba89538c34ac7bc66a653c7d46fd

[2013-11-04 13:34] #91 closed, assigned to wycc

[2013-11-04 13:35] wycc commented on #90
4fbbbb103403a27a72819c1ed1860229fa87a9e6

This patch merge the components before we iterate the whole list. It works for me now,

[2013-11-04 13:35] #90 closed, assigned to senatorjo

[2013-11-04 13:37] #17 closed, assigned to wycc

[2013-11-04 14:00] wycc commented on #56
17c35c2afbda83c6925ecd082e373252d075d86a

We save the clasa nad type data when the Save All is clicked.

[2013-11-04 14:00] #56 closed, assigned to wycc

[2013-11-04 14:02] wycc commented on #59
40fb144a1290ca01bf6c0dea73309687bda59f4f

[2013-11-04 14:02] #59 closed, assigned to wycc

[2013-11-04 14:02] #12 closed, assigned to wycc

[2013-11-04 14:34] wycc commented on #89
8a7ba7f99fa2695abf723553102290547e6f924a

[2013-11-04 14:34] #89 closed, assigned to wycc

[2013-11-04 21:01] senatorjo commented on #78
Under location, enter /Wukong/Bedroom, and "set location". Then the path would be added.

[2013-11-04 21:29] senatorjo commented on #51
This would be a big change in the database. Since I am not familiar with the database, especially the initialization and updating part, I am suggesting Penn to do it. Otherwise, I can do it in release 0.3 and remove the database.

[2013-11-04 21:31] senatorjo commented on #49
I shared a powerpoint of how to use location policies. WIll also update the document.

[2013-11-04 21:31] #49 closed, assigned to senatorjo

[2013-11-04 21:52] senatorjo commented on #84
Addressed in abc9bb4af7f7dd611a9a9e31571ec05c2ef8173b, however, I am not sure if it really solves this problem since I have no working zwave yet( I am too busy these days). Dr. Wang, can you help test again?

[2013-11-04 21:54] senatorjo commented on #83
This will relate to a lot of changes in location tree data structure. I suggest it to be milestone 0.3

[2013-11-04 21:57] senatorjo opened #95 "Be able to add and delete location nodes freely in location tree"

[2013-11-04 22:00] senatorjo commented on #71
What's the testing status of this problem now? I cannot see any problem here in simulation, thus I suspect it's due to problems in communication between devices.

[2013-11-04 23:10] wycc commented on #51
No, we should not remove the database since I don't want the discovery is
done in every reconfiguration. The cache should be used as much as possible.

Instead, we should update the cache whenever the device is changed. In this
example, when we call Set location in the Node Editor, the cache should be
updated as well. I believe that this is just a simple function call in the
callback function. The

[2013-11-04 23:11] wycc opened #96 "Change the cache when we change the location in Edit Editor"

[2013-11-04 23:12] wycc opened #97 "Pertorm discovery the new added device"
When we add a new device in the Node Editor, we should do a discovery for the single device to udpate the device cache.

[2013-11-04 23:14] wycc opened #98 "The device cache is invalidate when we restart the master"
When we restart the Master, the cache is not used and we will perform the complete discovery again. We should use the cache as much as possible. We should add a button in the node editor to force the complete discovery when it is necessary manually.

[2013-11-04 23:15] wycc opened #99 "Add a renew button in the Node editor to start the complete discovery process"

[2013-11-04 23:16] wycc commented on #51
Issue #96,#97,#98,#99 are added for the cache-related issues.

2013/11/5 Yu-Chung Wang wycc@homescenario.com

##

YC

Phone: 886-2-23516989
Mobile: 0919816155

[2013-11-04 23:20] wycc commented on #83
I would like to see this in 0.2 since native zwave support is an important
feature in 0.2. If the location can not support it, it will become much
useless.

Since we don't have demo at 11/14 any more. We can push the schedule for
one week for this.

2013/11/5 senatorjo notifications@github.com

[2013-11-04 23:25] wycc commented on #71
This is because we use the new way to distinguish the wudevice from the
native device. It will works after we use the latest VM. Please refer to
the following design document.

https://docs.google.com/presentation/d/1wouvyAd3rYhLVVAAEtjkarp26QuFdQvH5ewDYiZ-gDM/edit#slide=id.g1072670f8_055

https://docs.google.com/document/d/18Fal-dLsYY8KOvuDPJ_3XezirOCgK4Vvt2P1gkBHPho/edit#

2013/11/5 senatorjo no

[2013-11-05 04:52] senatorjo commented on #51
@wycc  It seems the reason we want to keep a database is just to use the cache, so maybe we still don't need the database. About in memory cache, we are already having this nodeinfo variable saving informations about everything. This is static for now because it's getting information from the cache of the database. So now we have three things, database => in memory cache of database => in memory n

[2013-11-05 05:21] wycc commented on #51
No matter what we choice, we still need solve issue 96-99. Otherwise,
whenever we add/delete/modify devices, we need to restart the master. I
don't really care if the database is there or not. However, we need to make
the flow reasonable and easy to understand. In my point of view, I only
have the following requirement.

(1) The discovery is executed as little as possible. We may not need it at
al

[2013-11-05 14:01] pencilcheck commented on #20
Please assign this to students who are much more familiar with the Include/exclude mechanisms. I believe the the code is not that hard to change to update the models.

[2013-11-05 14:02] pencilcheck commented on #57
Perhaps Niels can take a look into this problem? I believe the default value has been changed to accommodate the new design for the VM.

[2013-11-05 14:03] pencilcheck commented on #47
This is not a pressing issue for this release, but I will leave it here for the record.

[2013-11-05 14:04] pencilcheck commented on #6
How do you reproduce it? Is it still there?

[2013-11-05 14:06] pencilcheck commented on #22
I suggest that we move all UI design related feature requests into a separate branch.

[2013-11-05 14:07] pencilcheck commented on #97
It should be as simple as adding a line to redo the discovery for that particular node.

[2013-11-05 14:08] pencilcheck commented on #55
This should be part of a UI feature request.

[2013-11-05 14:11] pencilcheck commented on #25
@catlikethief should work on this issue as their team is right on testing and developing the WuClasses.

[2013-11-05 14:11] pencilcheck commented on #27
Looking back to this, I wonder if this is really something that we should worry about in 0.2. Perhaps it should be promoted to 0.4 or later.

[2013-11-05 14:58] wycc commented on #20
Please find one and work with him. I don't think that they really know how
to update the model correctly. You may work with ®¶¾± for this¡C

2013/11/5 Penn Su notifications@github.com

[2013-11-05 15:01] wycc commented on #6
I believe that this has been solved. It is due to the incorrect XML from the codegen.

[2013-11-05 15:02] wycc commented on #22
I think that this has been addressed, isn't it?  For now, we will list
unmapped components in different color. Is this is the case, we have
addressed this issue.

2013/11/5 Penn Su notifications@github.com

[2013-11-05 15:04] wycc commented on #97
This looks like the duplicated issue with #20.

2013/11/5 Penn Su notifications@github.com

[2013-11-05 15:05] wycc commented on #55
Please check with Niels what he mean here. I think that he want to hide the wuclasses which can not be used to create the wuobject.

[2013-11-05 15:12] wycc commented on #27
Is this related to the virtual flag? If the virtual is not available, the
mapper should not try to find the Java implementation. If this is the case,
I believe that we should address it in the 0.2 release since this looks
like a bug. We tell users that the Java implementation do not exist in the
XML and then the mapper ignore this flag and look for Java implementation.

This change is simple, we o

[2013-11-05 15:17] nielsreijers commented on #55
This was a comment about the programming guide document rather than about
the real code. Before summer we were having discussions about what should
be in the discovery result, whether wuclasses for hardware like light
sensors for which we can't create a new instance should be in the discovery
result or not.
It would be good to describe that in the Discovery section of the
programming guide. Actual

[2013-11-05 15:23] wycc commented on #55
The current situation is to publish all wuclasses. However, use add a flag to indicate if a wuclass can be used to create wuobjects or not. Sure, we should explain this in the document. Penn, can you do this? I think that you can do better job than Ken on this.

[2013-11-05 15:27] wycc commented on #22
I think in the wrong way for this bug. I think that we should clear the first and show waiting on the UI. I don't think that this is big item so that we really need a branch.

However, it is always OK to have branch in git since it's almost free.

[2013-11-05 17:45] senatorjo commented on #51
Got you:)

[2013-11-06 00:35] pencilcheck commented on #22
If this has been addressed then I will close the issue.

I think UI and the overall user experience design is still very important to us since we are building a user facing product. We need to be careful on that

[2013-11-06 00:35] #22 closed, assigned to pencilcheck

[2013-11-06 00:45] #6 closed, assigned to pencilcheck

[2013-11-06 00:45] pencilcheck commented on #97
Let's focus on #20

[2013-11-06 00:45] #97 closed, assigned to pencilcheck

[2013-11-06 00:46] pencilcheck commented on #20
The name is gibberish on my end.

[2013-11-06 00:49] pencilcheck commented on #27
To me, I would prefer writing in language other than C or Java to implement WuClasses or write an extension/plugin for WuKong but I believe there are a lot more people who won't use our product if it does not supported their most productive languages on the market.

But indeed we can implement the basic warning if we can't find the corresponding implementation that the users or mapper indicates, h

[2013-11-07 04:15] senatorjo commented on #51
In database, we should find if the discovered node ids are already there, if it is, replace it; if it it not, add a new entry for the node.

[2013-11-07 15:49] pencilcheck commented on #51
I think maybe you can try to remove all entries in the database before every full discovery when user click on the discovery button? Otherwise use the existing discovery result from the database whenever possible.

So the only change would be to invalidate cache and reset database just before every full discovery, then this issue should be resolved. Sen can you try to do that? python sqlite should

[2013-11-07 23:21] #95 closed, assigned to senatorjo

[2013-11-07 23:23] senatorjo opened #100 "Remove unnecessary variables from master.cfg.dist"
Everybody may want to update your master.cfg:
1. Remember what you have changed in your master.cfg file
2. cp wukong/config/master.cfg.dist wukong/config/master.cfg
3. edit new master.cfg to your original configurations

[2013-11-07 23:29] #100 closed, assigned to nobody

[2013-11-08 02:47] wycc commented on #4
I don't think that this is solved already. I have not really understand the reason yet. However, it must be in the polling API. In the second deployment, the polling is stopped easier.

I can use the following patch to solve this issue. It looks like a timing issue. Please figure out the reason and fix it.

[code]

[2013-11-08 02:50] wycc commented on #7
Please test if this is fixed. I believe so. Otherwise, the FBP will not work except the simplest one.

[2013-11-08 02:51] wycc commented on #15
Please try to change this to make the LED wuclass more useful.

[2013-11-08 02:54] wycc commented on #20
Please try to make an example of how to update an individual wudevice. I believe that we can simplily call getNodeInfo and change the create method of the WuNode to return the old WuNode if it exists. We need to settle this down soon.

BTW, I hope that we don't need to perform discovery at all when we start the Master. It should simplily load WuNodes from the database.

[2013-11-08 04:32] chishengshih commented on #55
Penn,

Please confirm if you can do this.

Daniel

On Nov 5, 2013, at 8:53 PM, Yu-Chung Wang notifications@github.com wrote:

---

Chi-Sheng (Daniel) Shih
NEWS Lab, National Taiwan University
E-Mail: cshih@csie.ntu.edu.tw

## Phone: +886-2-33664927 Fax: +886-2-33663778

[2013-11-08 04:37] nielsreijers commented on #4
Not sure if it's related, but I had a similar problem when generating the
VM. First time I see the whole compilation process, but if I try a second
time, it just shows "build start" or something similar.
It works again after refreshing the page in my browser.

On Fri, Nov 8, 2013 at 10:47 AM, Yu-Chung Wang notifications@github.comwrote:

##

_

[2013-11-08 04:51] wycc commented on #4
It should be different issue. This issue is due to the data.ops is still
equal to 'c' for unknown reason. After I add the setTimeout to delay the
polling function, it works well. I believe that it should be some issue
related to the tasklet in the Master.

The Generate VM do not use the data.ops to stop the polling. We should use
it in the Generate VM as well to indictae the state of the building

[2013-11-09 10:32] hanboa opened #101 "Tree node explodes exponentially"
In Node Editor/Location Editor, every time I click on the button of Location Editor that the tree displays double times. This happens when using Firefox browser. I also noted that the refresh time  is a little bit long.

[2013-11-10 07:16] senatorjo commented on #101
I am looking into it.

On Sat, Nov 9, 2013 at 2:32 AM, hanboa notifications@github.com wrote:

[2013-11-10 09:19] cheweiliang opened #102 "Set location incorrectly"
When clicking "set location" button in the node location, it will set the location incorrectly.

In monitor-nodes.html, line 73:
$('.set-location').click(function() {
  var tmp_loc = $(this).prev().val();
}

$(this) is the "Set Location" button
$(this).prev() will be "Find Location" button
$(this).prev().prev() will be the input text.

The location value will be passed from "Find Location"
I think

[2013-11-11 00:59] senatorjo commented on #102
Nice catching. Modified in commit f253d9130465d0ea22a31afc2468d389f6d92226 as suggested:)

[2013-11-11 16:51] wycc opened #103 "In the node Editor, if we press enter in the console, the Master will be blocked forever."
When this happen, the only way to stop the blocking is to restart the master. It looks like the Master is waiting for some input from the console.

[2013-11-11 17:19] wycc opened #104 "Remove the WuNode which has been removed from the network"
When we exclude device from the network, delete it from the database as well. Currently, we only remove from the cache. We do not remove it from the database yet. We should do that by using the functions in the model.py.

Actually, there is no method to delete WuNode from the database yet.

[2013-11-11 17:24] wycc opened #105 "Support remove fail function to remove failed node from the node list"
Implement function to remove unexisted node from the network. The REMOVE_FAIL function can be used to remove missing device from the network.

[2013-11-11 17:26] wycc commented on #93
I have tried it. It can work for multiple times. Can you try it again?

[2013-11-11 17:37] wycc commented on #93
This is related to the polling function. If the poll stop for some reason, we won;t see the building log any more. However, it should still be excuted in the back ground. We can check thecompiler.log to see the result.

We need to dig why the poll function stop.

[2013-11-12 06:24] pencilcheck opened #106 "Default values for each component are not loaded after master restart."
If I set a default value for threshold operator, the value will not be loaded after a restart. (of course fbp is saved before restarting)

[2013-11-12 06:33] cheweiliang commented on #102
Yes, I saw it.

Can someone else test it to make sure if it is fixed, thx?

[2013-11-12 10:18] cheweiliang opened #107 "Rename the virtual flag in WuClass standard library"
As we discussed with Niels tonight.

Virtual flag is kind of confused.
It means "whether the master has the virtual implementation of the wuclass"
Rename the virtual flag and the correspond variable names, methods.

[2013-11-12 10:20] cheweiliang opened #108 "Check if the master has virtual implementation in mapping"
Related to #107 .

Added a check to see if the master has the virtual implementation in mapper.py, around link 145.

[2013-11-12 11:41] cheweiliang opened #109 "Location of first wunode will be set by the "find location" button of other wunode"
Whenever I want to use "find location" to set the location string, it will always set the location string to the first wunodes instead of the wunode I chose.

For example, I clicked the "find location" of the third wunode, but it set the location to the first wunode.

![screen shot 2013-11-12 at 7 37 56](https://f.cloud.github.com/assets/1559930/1521251/05557516-4b8f-11e3-868c-fd2ad3a774c0.png)

!

[2013-11-15 02:19] cheweiliang opened #110 "WuNode gets stuck when starting the VM"
During this demo, it's very often to see this situation,
From the experience, we can upload the vm or reboot the node again to avoid this problem.
But for now, we have no idea how it happens.

[2013-11-15 08:28] nielsreijers commented on #110
Just to record it on github, although we need to sort things out more
thoroughly and probably split it into several issues, we saw the nodes
break down in 4 different ways:

1) The node says "PANIC 100", which means the Zwave initialisation code has
failed
2) The node doesn't say anything at all, not even after reprogramming. We
have several boards in this state. I'm not sure how the ended up this

[2013-11-22 09:20] cheweiliang opened #111 "It still creates an application if we cancel adding new application"
In "Application" tab, click the "Add new application" button.
If we click "Cancel" to stop, It still creates an new application named "null"

[2013-11-25 11:49] senatorjo opened #112 "Set properties for Components in FBP doesn't work"
We tried changing refresh rate for light sensor, but no change happens.

[2013-11-26 12:18] cheweiliang commented on #109
In 7a2c03c, the dialog is not shown when I click the "Find Location" button.
Please check it again, thank you.

[2013-12-10 01:52] senatorjo opened #113 "Uploading VM for a 2nd time would change previous location settings into invalid ones"
The node's location was set to "/WuKong/building" at first. After a second VM upload, it became "Kong/building████████████████████████"
This will block entire discovery due to failure to set up location tree.

[2013-12-10 01:53] senatorjo commented on #113
Assigned to Niels since this seems to be related to memory layout of the table in VM.

[2013-12-10 01:58] senatorjo commented on #113
I put a quick fix (commented code in wkpfcomm.py setlocation function) in commit 0391cb67645ce0cf44cd1dfa8d82e7b57a35b5e5 . But to really solve it we still need to see how VM handles this.

[2013-12-10 01:59] #112 closed, assigned to nobody

[2013-12-10 02:27] senatorjo commented on #109
Should be working now. Hope this fix doesn't create more issues XD.

[2013-12-10 02:27] #109 closed, assigned to senatorjo

[2013-12-10 02:29] senatorjo commented on #106
It looks fine now in develop branch.

[2013-12-10 02:29] #106 closed, assigned to wycc

[2013-12-10 02:30] #102 closed, assigned to senatorjo

[2013-12-10 02:30] #101 closed, assigned to senatorjo

[2013-12-10 02:33] senatorjo commented on #96
Should have been solved by applying new data structure for datas maintained in master. This is done in commit 9452ad883546884b30d973788f6d424a87c8a5aa and bug-fixing in following commits

[2013-12-10 02:33] #96 closed, assigned to senatorjo

[2013-12-10 02:40] senatorjo commented on #84
The commit a85eb9c95968ff6a9f1d197b8a0bf3ee6b5fb31d  change location of .gitignore from src/app/wkdeploy/java to sec/app/wkdeploy since the whole src/app/wkdeploy/java folder will be deleted everytime deployment is in process.

[2013-12-10 02:40] #84 closed, assigned to senatorjo

[2013-12-10 02:43] senatorjo commented on #71
This problems seems to be fixed now for non-native devices. For those who still has this problem, be sure to update your pyzwave package installation to include the newest update.

[2013-12-10 02:43] #71 closed, assigned to senatorjo

[2013-12-10 02:48] #78 closed, assigned to senatorjo

[2013-12-10 09:48] nielsreijers commented on #92
ENABLE_WUCLASS_\* has been removed. Other two issues remain (at least I didn't fix them yet)

[2013-12-12 08:19] senatorjo commented on #15
I am not sure about the description here. Can you explain more about what's the desired behaviour of the LED class?

[2013-12-12 08:39] wycc commented on #15
It looks like the current LED wuclass has been able to do this since it use
the PORT1-PORT4 to control the on/off of the LED already. We can close this
one now.

2013/12/12 senatorjo notifications@github.com

[2013-12-13 23:07] senatorjo opened #114 "Be able to save and load discover result"

[2013-12-13 23:14] senatorjo commented on #90
Further updated the algorithm here after new data structure, should be working after commit 11e29552ec54503939e2495542050982362ca002.

[2013-12-13 23:14] #15 closed, assigned to senatorjo

[2013-12-15 10:12] #70 closed, assigned to louisccc

[2013-12-17 02:28] nielsreijers commented on #93
Just checked this again. It still doesn't work. When I press Build for the second time, the output only shows "start", then stops.

[2013-12-17 02:34] #51 closed, assigned to pencilcheck

[2013-12-17 02:37] #98 closed, assigned to pencilcheck

[2013-12-17 02:39] #85 closed, assigned to louisccc

[2013-12-17 02:41] #14 closed, assigned to chishengshih

[2013-12-17 02:42] #50 closed, assigned to senatorjo

[2013-12-17 02:44] #67 closed, assigned to cheweiliang

[2013-12-17 02:45] #68 closed, assigned to curtis1213

[2013-12-17 05:14] nielsreijers opened #115 "Remove AVR code from platform independent files"
radio_zwave.c and wkpf_init.c are both in the /c/common directories, which means they should only contain platform independent code. These files both #include <avr/io.h>, which means now the VM can only be compiled for the AVR platform, but no longer for the posix platform.
Platform specific code will have to be removed, or move to one of the directories for platform specific code (/c/<platformnam

[2013-12-17 07:23] nielsreijers opened #116 "Posix platform doesn't compile"
The posix version worked before. There is an issue with native code in the common directories, for which I opened #115, but there seems to be another problem as well:

[code]

Not sure why this was never an issue before.

[2013-12-18 16:37] pencilcheck commented on #21
The mapper will reuse non virtual wuobject as much as possible, and create virtual wuobjects from published wuclasses on the wunode, then it will create virtual wuobjects if it cannot find the definition.

[2013-12-18 16:37] #21 closed, assigned to pencilcheck

[2013-12-18 16:40] pencilcheck commented on #54
Looks like the problem is solved, master does not choke on newly created wuclasses now

[2013-12-18 16:40] #54 closed, assigned to pencilcheck

[2013-12-18 16:43] pencilcheck commented on #111
Fixed

[2013-12-18 16:43] #111 closed, assigned to pencilcheck

[2013-12-18 19:55] cheweiliang opened #117 "Wait to long for the dead node during the discovery"
Now, if a node is dead, it will take a little while to wait for its ack and then go for the next node.
We may try to make the timeout shorter to make the discovery process faster.

[2013-12-19 02:50] chishengshih commented on #117
What's the current setting of timeout? The timeout should be set to accommodate the timeout of communication protocol and other factors. It cannot be an arbitrary number.

Daniel
On 2013/12/19, at 上午3:55, catlikethief notifications@github.com wrote:

---

Chi-Sheng (Daniel) Shih
NEWS Lab, National Taiwan University
E-Mail: cshih@csie.ntu.edu.tw

## Phone: +886-2-33664927 Fax: +886-2-33663778

[2013-12-21 01:17] senatorjo commented on #7
Just checked using light sensor->threshold->light actuator. All components will have their non-read-only default value generated, no matter set or unset.

[2013-12-21 01:17] #7 closed, assigned to senatorjo

[2013-12-21 01:20] senatorjo commented on #20
Node info lists will be updated in UpdateAllNodeInfos() function in wkpfcomm. When UpdateAllNodeInfos() is called, it will use getNodeInfo(id) which updates in0memory data structure.

[2013-12-21 01:20] #20 closed, assigned to senatorjo

[2013-12-21 01:23] senatorjo commented on #114
Solved by commit 35aad1b6883058ef89ee67435d9b014f0536eab6 .
node data will be saved and read from LocalData/nodes.xml. The format is similar to mock_discovery.xml.

wuobject properties are not saved or loaded yet, may need further discussion about what to save.

[2013-12-21 01:23] #114 closed, assigned to senatorjo

[2013-12-21 08:28] cheweiliang commented on #13
The link of the tutorial is:
https://docs.google.com/document/d/1zFLQBsYpXXIH-mc8Rt6ksaItxPqZ7-fBt6XDge3Pr8Q/edit#

[2013-12-21 08:28] #13 closed, assigned to cheweiliang

[2013-12-21 09:14] cheweiliang commented on #25
I used the commit c07098a in release0.2 branch with an application with a virtual and gate.
It seemed that the Java WuClass worked.

[2013-12-21 09:14] #25 closed, assigned to cheweiliang

[2013-12-21 12:09] louisccc commented on #73
Have implemented this feature.

See the a screenshot here. Now we have many example application section.
![image](https://f.cloud.github.com/assets/934994/1795780/d16338c0-6a37-11e3-90d3-5e1ea5e409da.png)

One we click on the example application, it will pop up one dialog and ask you to enter new application name. Then will copy the example application to your local app directory.

[2013-12-22 00:34] senatorjo commented on #73
Hello Louis,

Thanks for the change. It looks good.
Would you please also add the FBP examples into release0.2 branch?
Thanks.

Sen

On Sat, Dec 21, 2013 at 4:09 AM, louisccc notifications@github.com wrote:

[2013-12-22 06:50] louisccc commented on #73
Found some bugs, reopen this issue.

[2013-12-22 09:19] louisccc commented on #73
fixed

[2013-12-22 09:19] #73 closed, assigned to louisccc

[2013-12-22 15:10] wycc opened #118 "Add/Remove support is broken"
Steps
(1) In the Node Editor
(2) Click Add Device
(3) Click stop
(4) Click Add again ----> can not enter add any more

Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/tornado/web.py", line 1042, in _execute
    getattr(self, self.request.method.lower())(_args, *_kwargs)
  File "master_server.py", line 480, in post
    node_infos = comm.updateAllNodeInfos()
  File "/home

[2014-01-03 23:27] wycc opened #119 "Need to create output directory automatically"
The java directory must be created automatically.

Traceback (most recent call last):
  File "/home/wycc/devel/wukong-darjeeling/wukong/master/wkpf/wuapplication.py", line 307, in deploy
    self.cleanAndCopyJava()
  File "/home/wycc/devel/wukong-darjeeling/wukong/master/wkpf/wuapplication.py", line 251, in cleanAndCopyJava
    distutils.dir_util.remove_tree(JAVA_OUTPUT_DIR)
OSError: [Errno 2] No

[2014-01-03 23:42] wycc opened #120 "LED is handled as Virtual WuClass"
I deploy a LED component to a network which every devices are native device. In this case, the mapper should complain that the LED can not be mapped. However, it does try to put the LED as a virtual wuobject and put on a native device.

So, we need to check two issues.

Firstly, the LED do not support JAVA. It looks like the mapper do not handle the virtual wuobject creation correctly. It should c

[2014-01-04 00:47] wycc opened #121 "Serialize the device type"
The device type field should be serialized in the WuNode. Currently, after we reload it from the XML file. The device type becomes the default value, which is the wudevice.

[2014-01-07 02:53] senatorjo commented on #120
related #121. Need to check if #121 can solve this.

[2014-01-07 05:03] wycc commented on #121
I don't know the XML name. But the issue is in the WuNode.loadNodes()

2014/1/7 Sen notifications@github.com

[2014-01-07 06:45] nielsreijers opened #122 "Porting Darjeeling to eBox"
The posix platform should run fine on the eBox. Some native wuclasses need to be written to test the IO ports. I'll start with just the light actuator.

There is a small problem in the platform code though. Currently libraries can have different C code for different platforms, so posix and arduino can have different implementations for the native wuclasses, reprogramming, uart, etc.
However, for t

[2014-01-07 14:21] #122 closed, assigned to nielsreijers

[2014-01-10 06:25] nielsreijers opened #123 "Port WuKong to Galileo"

[2014-01-10 09:25] #123 closed, assigned to nielsreijers

[2014-01-11 16:26] wycc opened #124 "Set the location won't appear until we do the rediscovery"
When we change the location, it does not save to the nodes.xml until we perform the rediscovery.

[2014-01-11 16:28] wycc commented on #124
Steps,

(1) Go to Node Editor/Node Location
(2) Change the location
(3) Click the Set Location
(4) Reload the page. The change is gone ----> This is incorrect.
(5) Click the rediscovery
(6) The change appear now.

[2014-01-11 17:02] wycc commented on #120
121 can not solved it. This issue will happen when we have no device with LED wuclass in it. We do not check if the JAVA implementation of the WuClass is available or not. We should respect the virtual flag in the XML and repport the usage of LED as an error.

[2014-01-15 01:30] senatorjo opened #125 "New wunode will be discovered as native device"
This is because the generic part of device type is not properly set due to some reason, so it remains default value 0x02. A quick solution is to treat default device type to be wudevice... This may not be safe in the future, but it is safe right now.

[2014-01-15 01:32] #125 closed, assigned to nobody

[2014-01-15 03:34] nielsreijers opened #126 "Add "local" network to run multiple VMs on a PC"
Add a new "radio" that will just be able to communicate with other VMs running on the same PC, so we can test a whole network locally.
Step 1
- add a new radio implementation to the VM
- create a simple server to deliver messages from one VM to the other
  Step 2
- change the master to connect to the local radio server instead of zwave

[2014-01-16 14:52] nielsreijers opened #127 "Create local file system to fake IO for posix_pc platform"
Similar to how IO is handled on Galileo, we can create a local file system to make fake IO ports so we can run a whole network on a PC (once issue #126) is done.
For example
/node_3/lightsensor_4 will be read to get the current light value for a light sensor at port 4 on node 3.
/node_1/lightactuator_2 will be written to to reflect the current status of a light actuator at port 2 on node 1.

This

[2014-01-23 21:15] wycc opened #128 "Compilation issue at Ubuntu Linux for the native target"

[2014-01-25 12:49] nielsreijers opened #129 "Add more support for running a whole network of VMs on a pc"
- Add the option of loading an enabled_wuclasses.xml file at startup so a single VM image can be used for multiple nodes
- Add mechanism to let VMs save their config and application archive in the same directory as the sensor IO files so each VM has it's own application and configuration.

[2014-01-25 15:17] wycc opened #130 "The timeout of the transmission is too small"
Incrase it to be 1000ms. Please check the following document for the details.

https://docs.google.com/presentation/d/1KFuYoBz620gETVwp2Rvb4NZ6m08GRI8hex9CNSOsqW8/edit#slide=id.g29de79ced_080

[2014-02-04 04:21] #126 closed, assigned to nielsreijers

[2014-02-04 04:21] #127 closed, assigned to nielsreijers

[2014-02-04 04:21] #129 closed, assigned to nielsreijers

[2014-02-04 04:22] #116 closed, assigned to nielsreijers

[2014-02-07 02:23] #92 closed, assigned to nielsreijers

[2014-02-07 02:23] #118 closed, assigned to nobody

[2014-02-08 00:44] wycc opened #131 "Support button for the version 1 wudevice by using Digital Pin 2"
27bc22b..320351d

[2014-02-12 11:35] nielsreijers opened #132 "Create simple UI for simulator"
Create a simple UI that will show the nodes in a directory and allow the user to view actuators and edit sensor values.

[2014-02-17 03:51] nielsreijers opened #133 "VM crashes when properties need to be pulled from remote node at startup"
Now I understand why I never see the request property init messages, but I don't get why this didn't cause more problems before...

[2014-02-17 03:53] #133 closed, assigned to nielsreijers

[2014-02-17 04:18] chishengshih commented on #133
Niels,

When does the VM need to pull the properties from remote nodes?

Chi-Sheng Shih
National Taiwan University

[2014-02-17 04:23] nielsreijers commented on #133
When it boots and has an incoming link. The remote node won't propagate
until the value changes, so the node that just started needs to ask for it.
It still doesn't seem to work well though, so I'll need to look at it
again. But at least it doesn't crash anymore.

On Monday, 17 February 2014, Chi-Sheng (Daniel) Shih <
notifications@github.com> wrote:

##

_

[2014-02-17 04:45] chishengshih commented on #133
The data acquisition model is questionable.
1. If the node does not exist, the sender should not send the data to the node. I think it only happens that one node leaves and rejoin later. It will happen a lot when the network is not reliable.
2.  If the new node does pull the data from source, it is not sure if the original component is still active.

Does the receiver needs to ack after it receive

[2014-02-17 04:54] nielsreijers commented on #133
Questionable?

Take the bedroom scenario. Node 2 has all the sensors, but node 3 has the
actuator.
If 3 reboots it needs to know if the actuator should be on or off. Only
node 2 knows this. But if the state of the actuator doesn't change, node 2
has no reason to propagate the value. This is why after a reboot, node 3
will ask for the value from node 2.

If node 2 can't be reached, node 3 will retr

[2014-02-17 05:25] chishengshih commented on #133
Node 3 only needs to pull the data when the threshold component on node 2 changes its output and node 3 is not reachable or down. Since nodes 3 does not know if node 2 changes its output, node 3 pulls the data when it boots.

The scenario I like is the following.

If the sender (Node 2) knows that node 3 is down and does not receive the changed data, it should notify the master or gateway this err

[2014-02-17 05:34] nielsreijers commented on #133
What if the network has been running for a while, then at some point node 3
reboots for whatever reason. Maybe I had to replace the batteries, maybe
there's another reason.

Node 2 won't know, since it doesn't need to send any messages to 3 as long
as nothing changes. No propagation failed, since there's nothing to
propagate. But node 3 won't know whether the light should be on or off
until it ask

[2014-02-17 08:50] chishengshih commented on #133
If there is no state change on node 2, node 3 should not need to pull data from node 2. Why should Node 2 keep the data for any one?

If node 3 needs this value to keep the light on or off, it should store in its local storage when it receives the data.

Daniel

On 2014/2/17, at 下午1:34, Niels Reijers notifications@github.com wrote:

---

Chi-Sheng (Daniel) Shih
NEWS Lab, National Taiwan University

[2014-02-17 09:13] nielsreijers commented on #133
Node 2 (sensor and threshold) has a number of wuobjects that have state, so
it's not storing data for any one, but just storing the state of it's local
properties.

Node 3 (actuator) has a light actuator object that needs to know if it's
on_off property is true or false. So when it boots it needs to get his
value from whatever component is connected to the light_actuator's on_off
property. This ma

[2014-02-18 02:00] nielsreijers opened #134 "Create ecocast library."
Create a library to talk to prof. Pai Chou's ecocast system.

[2014-02-21 02:16] nielsreijers commented on #133
Here's a simple scenario to illustrate the point. If you unpack simple.zip
in the simulator_scenarios directory and run
java -jar network_ui.jar -c
../../simulator_scenarios/simple/networkconfig.xml
from the wukong/tools/network_ui directory, it should start the network
with an application already deployed.

The application is simple, just a PIR sensor on node 2, connected to a
light actuator on n

[2014-02-22 01:48] senatorjo opened #135 ""Set location" doesn't refresh the node location or update location tree"
We need to press "rediscovery" again to refresh the location tree. This is not desirable. Location tree should be updated automatically.

[2014-02-22 01:50] senatorjo commented on #135
The problem is in master_server.py. class nodes, put function. There is a mix of spaces and tabs. the structure of code is faulty because of that.

[2014-02-22 01:50] #135 closed, assigned to nobody

[2014-02-28 10:31] nielsreijers opened #136 "SAC2014"
Changes related to the SAC2014 tutorial.

[2014-03-01 15:04] nielsreijers opened #137 "UI shouldn't allow a connection between incompatible properties"
Right now, the UI let's you connect a short and a boolean. I think this shouldn't be possible. The profile framework will reject the update, so the application won't work.

[2014-03-04 06:01] nielsreijers opened #138 "Master crashes when an unknown wuclass ID is found in nodes.xml or during discovery."
I'm refactoring the standard library and reorganising the ids a bit. There was a cached discovery result in nodes.xml, which has an wuclass id that doesn't exist anymore. This caused the master to crash. It would be better if it just does a rediscovery if it finds the information in nodes.xml is incorrect.

When doing the rediscovery, one of the nodes had some old code, including a virtual Or gate

[2014-03-05 00:49] #138 closed, assigned to senatorjo

[2014-03-05 00:51] senatorjo commented on #138
A message about error wuclass type will be displayed in the master console. It would be complex if the exception is throwed further away, so I just choose to do rediscovery if nodes.xml is not valid.

[2014-03-05 09:04] nielsreijers opened #139 "Add option to master to specify applications directory on the command line."
I want to be able to make the scenarios a more self contained package. By default the master can still use wukong/apps to store the applications.
But when I run the network UI for some scenario, I want to have the option to specify in the scenario it should use the apps directory stored with the scenario.

[2014-03-05 09:08] nielsreijers opened #140 "Mapper uses virtual class when a native one is available"
I was deploying a simple light sensor-threshold-light actuator app. Node 2 has a light sensor and a threshold wuclass, node 3 has a light actuator.

When I deploy for the first time, the mapper somehow decides to deploy a virtual threshold class to node 2? But there's a native one available, so it should just use that one.
The funny thing is that when I deploy the app a second time, so there's alr

[2014-03-05 09:09] nielsreijers commented on #138
Hi Sen,

Thanks for solving this so quickly! I have another issue with the master.
Could you have a quick look at #140 as well?

Best,
 Niels

On Wed, Mar 5, 2014 at 8:51 AM, Sen notifications@github.com wrote:

##

_

[2014-03-05 09:10] nielsreijers opened #141 "WuClass ids > 255 make the VM crash."

[2014-03-05 09:20] #141 closed, assigned to nielsreijers

[2014-03-05 13:31] wycc commented on #140
This is due to the line 144 of mapper.py

[code]

from node (could be virtual)
                sensorNode = locTree.sensor_dict[node.id]
                sensorNode.initPortList(forceInit = False)
                port_number = sensorNode.reserveNextPort()
                _wuobject = WuObjectFactory.createWuObject(wuclassdef,
node, port_number,True)_
                print "appending vitual for", nod

[2014-03-05 15:42] nielsreijers commented on #140
Does that solve it? (if so, why not just fix it instead of describing how
to fix it?)
I'm not familiar with the mapper, but it seems to loop over the devices. If
you change this to False, that does seem to make it not virtual. But what
if the first node considered doesn't have the native Threshold, but the
second does? It would still create a virtual one on the first node instead
of using the nati

[2014-03-05 23:23] wycc commented on #140
I do not know the answer and have no time to check it now. This is why I
post it. You may try it or ask Sen to check it.

2014-03-05 23:42 GMT+08:00 Niels Reijers notifications@github.com:

[2014-03-05 23:45] wycc commented on #140
2014-03-05 23:42 GMT+08:00 Niels Reijers notifications@github.com:

Actually, there is another issue in the current mapper. It should not give
the wuobjects created by the wuclasses higher priority. For now, it's
higher since we will see the wuobjects and skip the wudevices with
Threshold wuclasses. However, this is smaller issue since it does not hurt.
However, if we implement more optimization i

[2014-03-06 01:07] senatorjo commented on #140
I have TA sessions all day today since 8am. I'll look into it this evening.

Sen

On Wed, Mar 5, 2014 at 3:45 PM, Yu-Chung Wang notifications@github.comwrote:

[2014-03-06 04:37] nielsreijers opened #142 "Mapper sometimes creates links from/to component -1"
I've seen this on two occasions, but haven't found a way to reproduce it yet. The fromComponent and toComponent attribute for the links were set to -1, so the application doesn't work.
In both cases the application consisted of a light sensor, threshold and light actuator.

[2014-03-06 08:30] wycc commented on #142
I saw the same situation when I work with KJ for his demo set. However, I
have no way to reproduce it either. I suspect that it is related to the
changes in the WukongStandfardLibrary.xml.

2014-03-06 12:37 GMT+08:00 Niels Reijers notifications@github.com:

##

YC

Phone: 886-2-23516989
Mobile: 0919816155

[2014-03-06 08:58] nielsreijers commented on #142
I did make a lot of changes to the library, throwing away some old wuclasses and restructuring the ids. But those are only on the SAC2014 branch, not on develop yet.
What changes were made to the library on develop that you suspect could be causing this?

[2014-03-06 09:04] nielsreijers opened #143 ""dir" property of application stored in config."
I'm trying to have the applications (optionally) be part of a scenario directory. The goal is to be able to load a single directory, that should contain all the node hardware configurations (enabled_wuclasses.xml), network config, node status (application, location, IO), and applications.
While trying to load the application from my dollhouse scenario, I notice the "dir" property of an application

[2014-03-06 09:58] wycc commented on #142
If we delete one wuclass from the XML and this item is used by the FBP,
when we load the FBP, we will get an item which ID is -1. This may be the
reason that we saw an XML with ID to be -1.

This is just wild guess. I have no idea about the root cause yet,

2014-03-06 16:58 GMT+08:00 Niels Reijers notifications@github.com:

[2014-03-07 02:43] nielsreijers opened #144 "Two threshold objects get mapped to the same port"
Create any FBP with two Thresholds. The mapper maps them to the same node and port, so we end up with just 1 threshold.

[2014-03-10 18:27] senatorjo commented on #144
It is basically because mappings of previous components was not really recorded, so a second component would reuse the same port. Fortunately, my previous code for resolving this issue was simply commented rather than deleted. Working on refactoring it to fit the new data structure.

[2014-03-11 00:34] #144 closed, assigned to nobody

[2014-03-13 11:31] nielsreijers commented on #140
Behaviour is back after b93eebe1d588d94facb57f9a4da270e77dec7fe4

[2014-03-13 21:23] senatorjo commented on #140
This is my understanding of the error. Actually, there is a confusion in display about what is virtual wuclass. In the current display, any wuobject created by wuclass (virtual, native) will be called virtual wuclass. Let me see whether this will fix the bug here.

[2014-03-13 22:45] senatorjo commented on #140
I don't get what does it mean by blue color. So I use blue for virtual wuobjs, green for native wuobjs. Yellow is no longer used.

[2014-03-13 22:45] #140 closed, assigned to senatorjo

[2014-03-17 04:35] nielsreijers opened #145 "Don't create initvalue entry for properties that are the destination of a link"
Since this value is to be determined by the link, there shouldn't be an initial value in the table, but the framework should get the value from the link source at startup.

[2014-03-17 05:03] nielsreijers opened #146 "Mapper creates native wuobjects when it finds a virtual wuclass."
When we deploy an application and the mapper uses a virtual wuclass because no native one was found, it works for the first time.
However, when deploying the same app a second time, the mapper will see there's an wuclass available, and create a native wuobject. This is incorrect, and causes the program to break since after deploying the new code, the virtual wuclass will be gone unless we include

[2014-03-17 06:29] senatorjo commented on #146
For #146, nielsreijers 's fix may have this problem:
the list of wuclasses on a node is actually a list of wuclassdefs. In wuclassdefs, the property 'virtual' means if there exists a virtual(java) version of wuclass implementation in master. So this property virtual equals to true doesn't necessary mean the wuclass is virtual in the node. Maybe it's a native(c) wuclass, but there are also java ver

[2014-03-17 06:37] nielsreijers commented on #146
Thanks Sen. I'm using your fix now.

On Mon, Mar 17, 2014 at 2:29 PM, Sen notifications@github.com wrote:

##

_

[2014-03-17 06:46] senatorjo commented on #146
:)

On Sun, Mar 16, 2014 at 11:37 PM, Niels Reijers notifications@github.comwrote:

[2014-03-19 23:56] senatorjo opened #147 "Extension to Wunode definition to support RSSI and routing"
Currently in Wukong master, there is no storage  in WuNode data structure about some important node-specific parameters like RSSI and routing table, I'd like to add these 2 parameters in the WuNode definition in order for a normalized interface of collecting these information.
1. for routing: a list of adjacent nodes. From this information, we can also construct the network topology in master.
2.

[2014-03-20 00:06] senatorjo opened #148 "API support to change link table in WKDeploy.dja in darjeeling"
The current link table is saved as a file in wkdeploy.dja in board. In order to support progressive change of wuapplications or fault tolerance, we need to support the capability of changing the links after deployment. An function API in VM is needed for this purpose, awaiting to be called from upper layer.

I am thinking about extending the WKPF a little bit to support this primitive function. We

[2014-03-20 00:28] wycc commented on #147
2014-03-20 7:56 GMT+08:00 Sen notifications@github.com:

##

YC

Phone: 886-2-23516989
Mobile: 0919816155

[2014-03-20 00:30] wycc commented on #148
We should implement a low level API to change the content of a FILE
instead. In this way, we can let master to change the device for any
purpose, not the link table only.This is required for the multiple
application and a lot of other primitives we will implement in this year.

2014-03-20 8:06 GMT+08:00 Sen notifications@github.com:

##

YC

Phone: 886-2-23516989
Mobile: 0919816155

[2014-03-20 03:54] senatorjo commented on #148
Maybe we can have this API of given the data type and offset, change the corresponding data there to the data desired.

Upon that we implement functions to change link table, mapping table, etc, because the way to find out the offset for different data is actually also a tricky thing which upper layer may want to avoid.

[2014-03-20 07:29] louisccc opened #149 "When loading app directory too many times it occurs error"
I was trying to modify mapping, so i switch from "current nodes" and "mapping" frequently, sometimes it will show this error and shut down master server

Traceback (most recent call last):
  File "master_server.py", line 1041, in <module>
  File "master_server.py", line 128, in update_applications
  File "master_server.py", line 112, in load_app_from_dir
  File "/Users/louisccc/louis/wukong-darjee

[2014-05-05 07:05] nielsreijers opened #150 "Support 32 bit addresses in the simulator"

[2014-05-07 01:40] nielsreijers opened #151 "Run time compilation"
Porting Joshua Ellul's MSP430 run time compilation code to Atmega2560.

[2014-05-07 09:58] chishengshih commented on #151
Niels,

Can you elaborate the motivation for integrating Joshua's run time compilation code?

Daniel
On 2014/5/7, at 上午9:40, Niels Reijers notifications@github.com wrote:

---

Chi-Sheng (Daniel) Shih
NEWS Lab, National Taiwan University
E-Mail: cshih@csie.ntu.edu.tw

## Phone: +886-2-33664927 Fax: +886-2-33663778

[2014-05-07 12:50] nielsreijers commented on #151
Hi,

It's just for my own research, not really for WK directly. (actually I
would like to discuss my plans with you sometime soon)
But I just wanted to have a number to file my commits under, since we
decided on a policy to link every commit to an issue a while ago. I'll be
doing all of this on a different branch of course.

If it works we could always consider including it in WK since it should
e

[2014-05-07 21:44] chishengshih commented on #151
Great and thanks.

Daniel
On 2014/05/07, at 下午8:50, Niels Reijers notifications@github.com wrote:

---

Chi-Sheng (Daniel) Shih
NEWS Lab, National Taiwan University
E-Mail: cshih@csie.ntu.edu.tw

## Phone: +886-2-33664927 Fax: +886-2-33663778

[2014-05-09 05:34] chingchichuang opened #152 "Various Galileo issues"

[2014-05-12 08:34] #139 closed, assigned to nielsreijers

[2014-05-12 08:34] #145 closed, assigned to nielsreijers

[2014-05-12 08:34] #146 closed, assigned to nielsreijers

[2014-05-18 15:39] chingchichuang opened #153 "Wukong for Arduino issues"

[2014-06-30 08:39] nielsreijers opened #154 "Extend codegen to support setting properties in enabled_wuclasses.xml"
To support more than 1 instance of the same sensor/actuator on a single node, we will extend the code gen to allow a "pin" property to be set in enabled_wuclasses.xml.

[2014-07-02 15:55] nielsreijers opened #155 "Ultrasound wuclass for Galileo"

[2014-07-06 06:09] senatorjo commented on #148
-The current implementation only have tokens as locks which are used to lock components.
-Tokens DO NOT propagate. The reason is because if we let them propagate, the nodes will simply freeze, thus make it impossible for debugging :( My guess is this is due to communication channel contention, namely only one node can send messages at a time.
-the multiplexer class will set link for all the four p

[2014-07-06 06:12] senatorjo opened #156 "A second time mapping may lead to problematic WKDeploy.xml"
If we do map again after an initial map, and deploy the app, all component ids in WKDeploy.xml (correspond to deployid of components in the code) will be the initial -1.

[2014-07-06 22:36] chishengshih commented on #148
If the lock does not propagate, does it still work as expected?

Daniel
On 2014/07/06, at 下午2:09, Sen notifications@github.com wrote:

---

Chi-Sheng (Daniel) Shih
NEWS Lab, National Taiwan University
E-Mail: cshih@csie.ntu.edu.tw

## Phone: +886-2-33664927 Fax: +886-2-33663778

[2014-07-07 06:20] senatorjo commented on #148
There is one thing I should correct, actually the piggyback mechanism is
still there.
for "-Tokens DO NOT propagate."
It is just the set_change_link command do not actively initiate propagating
along FBP flows, all token propagation will be passive.

This means there will be a state when the sensors at the beginning of flows
have tokens, while the actuators at the end of flows don't have. Thus the

[2014-07-08 17:58] nielsreijers opened #157 "Rename simulator and add option to just run the network server"
Currently the simulator is in a directory "network_ui", and the main class is called "WKNetworkUI", which is confusing. Should be renamed to "WKSimulator".
Also, I'll add an option to just run the NetworkServer part (either with or without a UI), which will be useful for the kitchen demo.

[2014-07-08 18:00] nielsreijers opened #158 "Try to reconnect when connection to NetworkServer is lost"
VMs using the NetworkServer should automatically try to reconnect to the NetworkServer if the connection is lost or can't be made. Currently it just exits.

[2014-07-08 19:27] #157 closed, assigned to nielsreijers

[2014-07-13 18:56] nielsreijers opened #159 "Have build process fail earlier when to/fromComponent < 0"
Sometimes the master will generate incorrect xml in wkdeploy.xml. This should be fixed, but until then making the wkpftables Ant task more strict will make sure we see the error earlier.

[2014-07-13 21:02] senatorjo commented on #159
Related to issue #156 . Combine them.

[2014-07-13 21:02] #159 closed, assigned to nielsreijers

[2014-07-14 00:30] #156 closed, assigned to senatorjo

[2014-07-14 00:31] senatorjo commented on #156
The changesets.components objects in memory are reassigned and are different during a second time mapping, while the changesets.links are still using the old component objects. This is a bug. We should use new changesets for a new mapping.

This is for us to ensure statelessness among different mappings.

[2014-07-14 19:32] nielsreijers opened #160 "Fix timer on native platform"
djtimer.c now uses clock() which counts processor time used, so it isn't accurate when we sleep.

[2014-07-15 18:26] #160 closed, assigned to nielsreijers

[2014-07-19 09:42] #158 closed, assigned to nielsreijers

[2014-07-21 17:56] nielsreijers opened #161 "Include xmpp C lib in Galileo build"

[2014-08-14 09:27] wycc opened #162 "Reprogramming bugs"
When we deploty the table to wudevice, we will call
- open
- a couple of write
- commit
- reboot

Currently, the code does not consider the possibility of retransmission. We implement retransmit in the application level. However, the low layer will do retransmit as well. It means that we may receive duplicated open/write/commit/reboot message.

The current problem is in the commit. when we receive

[2014-08-14 09:28] wycc opened #163 "Add watchdog timer to protect the system"
We should enable the watchdog timer of AVR to protect the system from trapping in an infinite loop.

[2014-08-15 16:48] #162 closed, assigned to nobody

[2014-08-15 16:56] #163 closed, assigned to nobody

[2014-08-16 08:44] nielsreijers commented on #162
Hi,

Just got curious about this issue, since there's some code to check if the
commit message matches the current write position (to detect dropped
packets). But it seems I forgot to reset that position in wkreprog_comm.c,
around line 85. Maybe good to add as well. Sorry for the bug. :-)

Best,
 Niels

PS. Also, could we please not use DEBUG_LOG(true anymore?

On Fri, Aug 15, 2014 at 6:48 PM, chi

[2014-09-09 15:05] chingchichuang opened #164 "Segmentation fault happened when deploying application to Galileo board"
There is a problem about deploying application to Galileo board through the network server.
The method I used to figure out the problem is to checkout to the previous commit until the application running without problems.
The last commit running without problem is 7567af9b034c28813b44fa02d270260256946b5e
But the commit after this one would occur several errors during deploying application.
For the

[2014-11-06 05:24] nielsreijers opened #166 "Extend test code with galileo support"

[2014-11-07 07:28] nielsreijers opened #167 "Fix native on OS X Yosemite"
It seems the compiler has become a bit more strict in the latest OS X, resulting in a few compile errors.

[2014-11-07 07:32] #167 closed, assigned to nobody

[2015-05-01 04:45] nielsreijers opened #168 "Experimenting with Gradle build"
Ant's quite restrictive sometimes, for example linking in a library only for the Edison build is quite clumsy. So clumsy I gave up and ended up just copying the sources I needed into the Darjeeling repository.
Also, the builds seem to take longer than they should.

I'm curious if Gradle would be a better choice.

[2015-05-01 05:35] wycc commented on #168
The ANT building system right now is quite restricted. For example, if we
want to build picokong library for arduino at wudevice, we need to create
an directory for it. This will produce a lot of directories for library X
at configure Y at hardware Z.

It would be better to make pickong/nanokong,arduino as parameters when we
switch to gradle. The directory is for platform only.

YC

Phone: 886-2-2

[2015-05-09 07:53] nielsreijers commented on #168
What's the problem with having config directories? Do we need to add configurations that often? Also, if we change things as target platform, apps, and included libaries to be command line parameters, we still need a place to put the config.h and main.c files, or do you have an idea to refactor that as well?

The Gradle build is almost finished, but the configuration part is the only thing I haven

[2015-05-09 14:13] wycc commented on #168
Currently, in the config directory, we have a couple of different
dimensions. Firstly, we have nanokong/picokong. Secondly, we have platform,
such as wunode/galileo/native. Third, we have arduino library/executable.
Totally, we have 2x3x2=12 different configurations at least.

It's better to leave the platform in this directory only and make the
nanokong/picokon, arduino library/executable as diff

[2016-01-31 08:27] #168 closed, assigned to nobody

[2016-01-31 08:27] #136 closed, assigned to nobody

[2016-01-31 08:34] nielsreijers commented on #115
There's nothing more permanent than a temporary solution. ;-) This seems to have worked well for the last two years, so closing the issue for now. We can open a new one if we want to tidy it up later.

[2016-01-31 08:34] #115 closed, assigned to wycc

[2016-01-31 08:36] #134 closed, assigned to nielsreijers

[2016-01-31 08:36] #132 closed, assigned to nielsreijers

[2016-01-31 08:37] #150 closed, assigned to nielsreijers

[2016-01-31 08:37] #154 closed, assigned to nielsreijers

[2016-01-31 08:40] #166 closed, assigned to nielsreijers

[2016-01-31 08:41] nielsreijers commented on #164
Chingchi, is this still an issue? We're not using the network server anymore for Galileo, right?
I'm closing it for now, but feel free to reopen the issue if I need to look at it.

[2016-01-31 08:41] #164 closed, assigned to nielsreijers

[2016-01-31 08:43] nielsreijers commented on #80
Since this is +2 years old, and lots of work has been done on the FBP editor since, I'm going to assume this is either done or no longer necessary. I'll close the issue, but feel free to reopen it if I need to look at it again.

[2016-01-31 08:43] #80 closed, assigned to nielsreijers

[2016-01-31 08:45] nielsreijers commented on #11
We discussed this a long time ago, but it's not a trivial feature to implement correctly. I won't have time to look at it for sure, so I'm removing myself from the issue, but will leave it open in case we want to do this at a later stage.

[2016-01-31 08:46] #161 closed, assigned to nielsreijers

[2016-01-31 08:51] #119 closed, assigned to senatorjo

[2016-02-01 10:03] chingchichuang commented on #164
Dear Niels,

I have already forgot this one:)
However, Ginger and I used network server with Edison board to prepare F2F
demo in last summer.
So, this combination is very useful if we don't want to use gateway.
But back to this issue, I really don't know what was happened at that time@@

Best regards,
Ching Chi

On 31 January 2016 at 16:41, Niels Reijers notifications@github.com wrote:

[2016-05-10 06:46] HobeXD opened #169 "Application deployment status"
In current version of WuKong, there is no way to know if the application deployed by Master succeeds on device side. We need a mechanism between Master and WuDevice to check/veryfiy/acknowledge if an application is deployed or is running on the device.

[2016-05-10 09:02] wycc commented on #169
The deploy window UI is broken. In theory, it should be able to tell us if
an application is deployed successfully.

The other issue is that we have no way to tell what is currently running in
the wukong. We should try to keep the last deployment record so that we can
show the mapping and deployment result in the UI in the future. For now,
the run time information is lost after we restart the Mast

[2016-05-10 09:20] chishengshih commented on #169
YC,

How about adding a protocol between WuDevice and Master to allow WuDevie returning the status including running WuObject and link? Can this protocol resolve the issue?

Daniel
−−--------------------------------------------
Chi-Sheng (Daniel) Shih
NEWS Lab, National Taiwan University
E-Mail: cshih@csie.ntu.edu.tw

## Phone: +886-2-33664927 Fax: +886-2-33663778

[2016-05-10 09:41] bltsai commented on #169
The device could dump the link table and component map back to the Master
via the protocol. Due to the incremental deployment, we could get back a
running FBP diagram that is not what master just deployed but somewhat a
merged graph. To know whether a graph with labeled vertices is a isomorphic
to a subgraph of retrieved graph, it may need some computation time if the
system already runs a complex

[2016-05-10 09:41] wycc commented on #169
We can get the wuobject already. However, the link table is useless since
we can not construct the original FBP from it. It's better to remember the
FBP and trhe mapping result in the Master.

2016-05-10 17:20 GMT+08:00 Chi-Sheng (Daniel) Shih <notifications@github.com

[2016-05-11 00:32] chishengshih commented on #169
BL,

Can you summarize the issues and present it on Friday? We need to assign students to fix the problem.
- Knowing if an FBP is successfully deployed.
- Knowing the link table on each device
- Knowing the status of wuobject on each device

Daniel

[2016-05-11 01:29] wycc commented on #169
Additional items.
- Keep the discovery result in the database.
- Query the device when it is added in the UI so that we do not need to
  discovery the whole network when we add new device.
- Keep the recent running FBP so that we can mark it in the application
  list.

2016-05-11 8:32 GMT+08:00 Chi-Sheng (Daniel) Shih notifications@github.com
: